In [251]:
import os
import numpy as np
import pandas as pd

In [252]:

file_path_1 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/compustat_profit.csv' # Fundamental data
df = pd.read_csv(file_path_1)
df['datadate'] = pd.to_datetime(df['datadate'])
df['rdq'] = pd.to_datetime(df['rdq'])
df = df.drop(columns=['fyearq', 'fqtr', 'indfmt', 'consol', 'popsrc', 'datafmt', 'curcdq', 'datacqtr', 'datafqtr','costat'])

df = df.sort_values(by=['tic', 'rdq'])

df.head()

,gvkey,datadate,tic,ajexq,rdq,actq,cshoq,epsfiq,teqq,cshfdy,oancfy,dvpspq
1243,1690,1981-06-30,AAPL,224.0,1981-07-22,201.262,55.136,0.21,NaN,NaN,NaN,0.0
1244,1690,1981-09-30,AAPL,224.0,1981-10-20,227.104,55.309,0.19,NaN,NaN,NaN,0.0
1245,1690,1981-12-31,AAPL,224.0,1982-01-22,249.160,55.421,0.24,NaN,NaN,NaN,0.0
1246,1690,1982-03-31,AAPL,224.0,1982-04-15,263.140,56.488,0.24,NaN,NaN,NaN,0.0
1247,1690,1982-06-30,AAPL,224.0,1982-07-16,283.437,56.743,0.26,NaN,NaN,NaN,0.0

In [253]:
file_path_2 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/prices_profit.csv' # price data
df2 = pd.read_csv(file_path_2)
df2['date'] = pd.to_datetime(df2['date'])
df2 = df2.drop(columns=['PERMNO'])

df2 = df2.sort_values(by=['TICKER', 'date'])
df2 = df2.rename(columns={'TICKER': 'tic'})

df2['PRC'] = df2['PRC'].abs()
df2['OPENPRC'] = df2['OPENPRC'].abs()


df2.head()

             date   tic      PRC  OPENPRC
312596 1980-12-12  AAPL  28.8125      NaN
312597 1980-12-15  AAPL  27.3125      NaN
312598 1980-12-16  AAPL  25.3125      NaN
312599 1980-12-17  AAPL  25.9375      NaN
312600 1980-12-18  AAPL  26.6875      NaN

In [254]:
import pandas as pd
df = df.dropna(subset=['rdq'])

# Merge the dataframes on 'tic' and ensure that the price is on or after 'rdq'
df = pd.merge_asof(df.sort_values('rdq'), 
                          df2.sort_values('date'), 
                          by='tic', 
                          left_on='rdq', 
                          right_on='date', 
                          direction='forward')

# Now merged_df will have an extra column with the stock price for the date closest to 'rdq'
df = df.sort_values(by=['tic', 'rdq'])
df.head()

,gvkey,datadate,tic,ajexq,rdq,actq,cshoq,epsfiq,teqq,cshfdy,oancfy,dvpspq,date,PRC,OPENPRC
1683,1690,1981-06-30,AAPL,224.0,1981-07-22,201.262,55.136,0.21,NaN,NaN,NaN,0.0,1981-07-22,22.7500,NaN
1726,1690,1981-09-30,AAPL,224.0,1981-10-20,227.104,55.309,0.19,NaN,NaN,NaN,0.0,1981-10-20,19.6875,NaN
1772,1690,1981-12-31,AAPL,224.0,1982-01-22,249.160,55.421,0.24,NaN,NaN,NaN,0.0,1982-01-22,20.8125,NaN
1812,1690,1982-03-31,AAPL,224.0,1982-04-15,263.140,56.488,0.24,NaN,NaN,NaN,0.0,1982-04-15,16.4375,NaN
1864,1690,1982-06-30,AAPL,224.0,1982-07-16,283.437,56.743,0.26,NaN,NaN,NaN,0.0,1982-07-16,13.3125,NaN

In [255]:
file_path_3 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/s&p500index.csv' # s&p500
df3 = pd.read_csv(file_path_3)
df3['caldt'] = pd.to_datetime(df3['caldt'])  # Adjust column name if needed

df3.tail()

           caldt   spindx
25794 2023-12-22  4754.63
25795 2023-12-26  4774.75
25796 2023-12-27  4781.58
25797 2023-12-28  4783.35
25798 2023-12-29  4769.83

In [256]:
df = df.sort_values(by=['rdq'])


#merge (fill empty cells with nearest s&p500 value)
df = pd.merge_asof(df, df3, left_on='rdq', right_on='caldt', direction='nearest')
df = df.drop(columns=['caldt'])
df = df[df['date'] <= '2023-12-29']

df['PRC'] = df['PRC'] / df['ajexq']
df['OPENPRC'] = df['OPENPRC'] / df['ajexq']
df['epsfiq'] = df['epsfiq'] / df['ajexq']
df['cshoq'] = df['cshoq'] * df['ajexq']
df['cshfdy'] = df['cshfdy'] * df['ajexq']

df = df.sort_values(by=['tic', 'rdq']).reset_index(drop=True)
df.tail()

,gvkey,datadate,tic,ajexq,rdq,actq,cshoq,epsfiq,teqq,cshfdy,oancfy,dvpspq,date,PRC,OPENPRC,spindx
15170,13721,2022-09-30,ZTS,1.0,2022-11-03,6551.0,466.442,1.13,4662.0,471.600,1171.0,0.325,2022-11-03,131.14000,134.14999,3719.89
15171,13721,2022-12-31,ZTS,1.0,2023-02-14,7506.0,463.808,0.99,4403.0,470.385,1912.0,0.325,2023-02-14,171.89999,173.44000,4136.13
15172,13721,2023-03-31,ZTS,1.0,2023-05-04,6269.0,462.495,1.19,4491.0,464.600,549.0,0.375,2023-05-04,178.47000,168.00000,4061.22
15173,13721,2023-06-30,ZTS,1.0,2023-08-08,6183.0,460.751,1.45,4621.0,463.800,732.0,0.375,2023-08-08,189.30000,182.14999,4499.38
15174,13721,2023-09-30,ZTS,1.0,2023-11-02,6222.0,459.525,1.29,5074.0,463.000,1456.0,0.375,2023-11-02,160.91000,155.31000,4317.78

In [257]:
# compute ratios
# Use OPENPRC first, if NaN then fall back to PRC

df['ptb'] = (df['OPENPRC'].fillna(df['PRC']) * df['cshoq']) / df['teqq']
df['div_yield'] = df['dvpspq'] / df['OPENPRC'].fillna(df['PRC'])
df['pe_inc'] = df['epsfiq'] / df['ajexq']
df['pcf'] = (df['OPENPRC'].fillna(df['PRC']) * df['cshfdy']) / df['oancfy']


df.tail(60)

,gvkey,datadate,tic,ajexq,rdq,actq,cshoq,epsfiq,teqq,cshfdy,oancfy,dvpspq,date,PRC,OPENPRC,spindx,ptb,div_yield,pe_inc,pcf
15115,4503,2020-06-30,XOM,1.0,2020-07-31,53016.0,4228.233,-0.26,187153.0,4270.000,6274.0,0.870,2020-07-31,42.08000,41.16000,3271.12,0.929903,0.021137,-0.26,28.012942
15116,4503,2020-09-30,XOM,1.0,2020-10-30,48693.0,4228.234,-0.15,184612.0,4270.000,10663.0,0.870,2020-10-30,32.62000,32.41000,3269.96,0.742298,0.026844,-0.15,12.978590
15117,4503,2020-12-31,XOM,1.0,2021-02-02,44893.0,4233.000,-4.70,164130.0,4271.000,14668.0,0.870,2021-02-02,45.63000,45.81000,3826.31,1.181464,0.018991,-4.70,13.338868
15118,4503,2021-03-31,XOM,1.0,2021-04-30,48195.0,4233.539,0.64,164101.0,4272.000,9264.0,0.870,2021-04-30,57.24000,58.33000,4181.17,1.504819,0.014915,0.64,26.898290
15119,4503,2021-06-30,XOM,1.0,2021-07-30,52842.0,4233.563,1.10,165556.0,4274.000,18914.0,0.870,2021-07-30,57.57000,58.88000,4395.26,1.505667,0.014776,1.10,13.305124
15120,4503,2021-09-30,XOM,1.0,2021-10-29,55555.0,4233.567,1.57,167506.0,4275.000,31005.0,0.870,2021-10-29,64.47000,65.05000,4605.38,1.644082,0.013374,1.57,8.969158
15121,4503,2021-12-31,XOM,1.0,2022-02-01,59154.0,4239.000,2.08,175683.0,4275.000,48129.0,0.880,2022-02-01,80.83000,76.45000,4546.54,1.844638,0.011511,2.08,6.790578
15122,4503,2022-03-31,XOM,1.0,2022-04-29,77255.0,4212.543,1.28,176526.0,4266.000,14788.0,0.880,2022-04-29,85.25000,88.14000,4131.93,2.103336,0.009984,1.28,25.426375
15123,4503,2022-06-30,XOM,1.0,2022-07-29,93163.0,4167.636,4.21,184508.0,4248.000,34751.0,0.880,2022-07-29,96.93000,94.45000,4130.29,2.133421,0.009317,4.21,11.545671
15124,4503,2022-09-30,XOM,1.0,2022-10-28,99289.0,4118.293,4.68,193043.0,4227.000,59176.0,0.880,2022-10-28,110.70000,109.46000,3901.06,2.335171,0.008039,4.68,7.818836
15125,4503,2022-12-31,XOM,1.0,2023-01-31,97631.0,4082.000,3.09,202473.0,4205.000,76797.0,0.910,2023-01-31,116.01000,112.10000,4076.60,2.260016,0.008118,3.09,6.138007
15126,4503,2023-03-31,XOM,1.0,2023-04-28,97224.0,4042.985,2.79,206414.0,4102.000,16341.0,0.910,2023-04-28,118.34000,117.25000,4169.48,2.296550,0.007761,2.79,29.432685
15127,4503,2023-06-30,XOM,1.0,2023-07-28,91760.0,4003.193,1.94,206997.0,4084.000,25724.0,0.910,2023-07-28,104.16000,105.11000,4582.23,2.032762,0.008658,1.94,16.687500
15128,4503,2023-09-30,XOM,1.0,2023-10-27,101142.0,3962.918,2.25,207533.0,4064.000,41687.0,0.910,2023-10-27,105.55000,108.89000,4117.37,2.079294,0.008357,2.25,10.615515
15129,13721,2011-12-31,ZTS,1.0,2012-08-13,2311.0,NaN,0.49,3736.0,500.000,497.0,NaN,2013-02-01,31.01000,31.50000,1404.11,NaN,NaN,0.49,31.690141
15130,13721,2012-09-30,ZTS,1.0,2013-02-04,2555.0,NaN,0.32,4109.0,500.000,144.0,NaN,2013-02-04,31.02000,31.09000,1495.71,NaN,NaN,0.32,107.951389
15131,13721,2012-12-31,ZTS,1.0,2013-03-28,2864.0,500.000,-0.02,4041.0,500.000,454.0,0.000,2013-03-28,33.40000,32.85000,1569.19,4.064588,0.000000,-0.02,36.178414
15132,13721,2013-03-31,ZTS,1.0,2013-04-30,2942.0,500.000,0.28,724.0,500.111,281.0,0.000,2013-04-30,33.02000,33.68000,1597.57,23.259669,0.000000,0.28,59.942130
15133,13721,2013-06-30,ZTS,1.0,2013-08-06,3082.0,500.000,0.26,823.0,500.164,269.0,0.065,2013-08-06,31.13000,31.68000,1697.37,19.246659,0.002052,0.26,58.904073
15134,13721,2013-09-30,ZTS,1.0,2013-11-05,3083.0,500.000,0.26,866.0,500.227,383.0,0.065,2013-11-05,31.69000,31.90000,1762.97,18.418014,0.002038,0.26,41.663815
15135,13721,2013-12-31,ZTS,1.0,2014-02-11,3357.0,500.000,0.21,962.0,500.317,681.0,0.065,2014-02-11,29.13000,29.63000,1819.75,15.400208,0.002194,0.21,21.768565
15136,13721,2014-03-31,ZTS,1.0,2014-05-06,3222.0,501.000,0.31,1099.0,500.702,-23.0,0.072,2014-05-06,30.89000,29.85000,1867.72,13.607689,0.002412,0.31,-649.824117
15137,13721,2014-06-30,ZTS,1.0,2014-08-05,3327.0,501.038,0.27,1283.0,501.193,136.0,0.072,2014-08-05,32.21000,32.57000,1920.21,12.719258,0.002211,0.27,120.028353
15138,13721,2014-09-30,ZTS,1.0,2014-11-04,3353.0,501.196,0.33,1389.0,501.610,239.0,0.072,2014-11-04,39.12000,38.01000,2012.10,13.715234,0.001894,0.33,79.774879
15139,13721,2014-12-31,ZTS,1.0,2015-02-11,3465.0,501.328,0.25,1337.0,502.025,626.0,0.072,2015-02-11,45.77000,44.88000,2068.53,16.828422,0.001604,0.25,35.991824
15140,13721,2015-03-31,ZTS,1.0,2015-05-05,3110.0,500.368,0.33,1305.0,503.224,60.0,0.083,2015-05-05,45.68000,47.13000,2089.46,18.070762,0.001761,0.33,395.282452
15141,13721,2015-06-30,ZTS,1.0,2015-08-04,3316.0,499.339,-0.07,1202.0,502.893,182.0,0.083,2015-08-04,48.85000,49.11000,2093.32,20.401446,0.001690,-0.07,135.698216
15142,13721,2015-09-30,ZTS,1.0,2015-11-03,3450.0,498.333,0.38,1254.0,502.480,386.0,0.083,2015-11-03,46.63000,46.47000,2109.79,18.466933,0.001786,0.38,60.492864
15143,13721,2015-12-31,ZTS,1.0,2016-02-16,3830.0,497.400,0.04,1091.0,502.019,664.0,0.083,2016-02-16,40.43000,41.66000,1895.58,18.993294,0.001992,0.04,31.497156
15144,13721,2016-03-31,ZTS,1.0,2016-05-04,3307.0,496.417,0.41,1187.0,499.539,51.0,0.095,2016-05-04,47.05000,47.91000,2051.12,20.036511,0.001983,0.41,469.272814
15145,13721,2016-06-30,ZTS,1.0,2016-08-03,3328.0,495.390,0.45,1371.0,499.200,188.0,0.095,2016-08-03,51.21000,52.15000,2163.79,18.843609,0.001822,0.45,138.474894
15146,13721,2016-09-30,ZTS,1.0,2016-11-02,3364.0,494.241,0.48,1598.0,498.800,427.0,0.095,2016-11-02,50.11000,50.91000,2097.94,15.745813,0.001866,0.48,59.470511
15147,13721,2016-12-31,ZTS,1.0,2017-02-16,3390.0,492.855,0.31,1499.0,498.225,713.0,0.095,2017-02-16,52.78000,54.69000,2347.22,17.981481,0.001737,0.31,38.215884
15148,13721,2017-03-31,ZTS,1.0,2017-05-04,3383.0,491.328,0.48,1635.0,495.300,119.0,0.105,2017-05-04,58.87000,55.48000,2389.52,16.672096,0.001893,0.48,230.918017
15149,13721,2017-06-30,ZTS,1.0,2017-08-08,3584.0,489.660,0.50,1746.0,494.600,299.0,0.105,2017-08-08,60.00000,60.49000,2474.92,16.964223,0.001736,0.50,100.061385
15150,13721,2017-09-30,ZTS,1.0,2017-11-02,4894.0,487.832,0.61,2019.0,493.900,738.0,0.105,2017-11-02,67.31000,64.30000,2579.85,15.536205,0.001633,0.61,43.032209
15151,13721,2017-12-31,ZTS,1.0,2018-02-15,4217.0,486.130,0.16,1786.0,493.161,1346.0,0.105,2018-02-15,78.50000,79.26000,2731.20,21.573720,0.001325,0.16,29.040075
15152,13721,2018-03-31,ZTS,1.0,2018-05-02,4267.0,484.724,0.72,1975.0,489.800,389.0,0.126,2018-05-02,79.90000,77.67000,2635.67,19.062538,0.001622,0.72,97.796314
15153,13721,2018-06-30,ZTS,1.0,2018-08-02,4239.0,482.290,0.79,1982.0,488.600,656.0,0.126,2018-08-02,91.43000,85.78000,2827.22,20.873278,0.001469,0.79,63.890409
15154,13721,2018-09-30,ZTS,1.0,2018-11-01,4076.0,480.980,0.71,2118.0,487.700,1206.0,0.126,2018-11-01,94.25000,93.77000,2740.37,21.294379,0.001344,0.71,37.920090
15155,13721,2018-12-31,ZTS,1.0,2019-02-14,4399.0,479.562,0.71,2185.0,486.898,1790.0,0.126,2019-02-14,93.26000,89.01000,2745.73,19.535841,0.001416,0.71,24.211615
15156,13721,2019-03-31,ZTS,1.0,2019-05-02,4379.0,479.026,0.65,2317.0,483.100,389.0,0.164,2019-05-02,103.15000,100.26500,2917.52,20.729194,0.001636,0.65,124.519335
15157,13721,2019-06-30,ZTS,1.0,2019-08-06,4484.0,477.821,0.77,2411.0,482.700,707.0,0.164,2019-08-06,121.17000,117.59000,2881.77,23.304426,0.001395,0.77,80.283866
15158,13721,2019-09-30,ZTS,1.0,2019-11-07,4618.0,476.746,0.90,2678.0,482.300,1213.0,0.164,2019-11-07,121.03000,125.40000,3085.18,22.324103,0.001308,0.90,49.860198
15159,13721,2019-12-31,ZTS,1.0,2020-02-13,4748.0,475.528,0.80,2708.0,481.787,1795.0,0.164,2020-02-13,144.94000,141.92999,3373.94,24.923074,0.001155,0.80,38.094721
15160,13721,2020-03-31,ZTS,1.0,2020-05-06,4772.0,474.865,0.88,2753.0,479.000,408.0,0.200,2020-05-06,125.69000,125.97000,2848.42,21.728567,0.001588,0.88,147.891250
15161,13721,2020-06-30,ZTS,1.0,2020-08-06,6285.0,474.999,0.79,2987.0,478.600,846.0,0.200,2020-08-06,161.33000,158.46001,3349.16,25.198643,0.001262,0.79,89.644162
15162,13721,2020-09-30,ZTS,1.0,2020-11-05,6757.0,475.243,1.00,3607.0,478.500,1408.0,0.200,2020-11-05,170.89999,174.67500,3510.45,23.014436,0.001145,1.00,59.362207
15163,13721,2020-12-31,ZTS,1.0,2021-02-16,6611.0,475.318,0.75,3773.0,478.569,2126.0,0.200,2021-02-16,166.32001,167.98000,3932.59,21.161918,0.001191,0.75,37.812804
15164,13721,2021-03-31,ZTS,1.0,2021-05-06,6794.0,474.973,1.17,4092.0,477.900,400.0,0.250,2021-05-06,167.52000,167.25000,4201.62,19.413303,0.001495,1.17,199.821937
15165,13721,2021-06-30,ZTS,1.0,2021-08-05,7048.0,474.211,1.07,4352.0,477.500,881.0,0.250,2021-08-05,203.84000,198.00000,4429.10,21.574857,0.001263,1.07,107.315551
15166,13721,2021-09-30,ZTS,1.0,2021-11-04,6682.0,473.374,1.16,4681.0,477.100,1534.0,0.250,2021-11-04,217.77000,214.00000,4680.06,21.641110,0.001168,1.16,66.557627
15167,13721,2021-12-31,ZTS,1.0,2022-02-15,6930.0,472.574,0.87,4544.0,476.717,2213.0,0.250,2022-02-15,197.75999,197.78999,4471.07,20.570072,0.001264,0.87,42.607253
15168,13721,2022-03-31,ZTS,1.0,2022-05-05,6837.0,471.209,1.26,4658.0,474.100,309.0,0.325,2022-05-05,171.45000,180.00000,4146.87,18.209021,0.001806,1.26,276.174757
15169,13721,2022-06-30,ZTS,1.0,2022-08-04,6651.0,468.613,1.12,4580.0,472.800,645.0,0.325,2022-08-04,174.31000,181.22000,4151.94,18.541932,0.001793,1.12,132.838474
15170,13721,2022-09-30,ZTS,1.0,2022-11-03,6551.0,466.442,1.13,4662.0,471.600,1171.0,0.325,2022-11-03,131.14000,134.14999,3719.89,13.421963,0.002423,1.13,54.026589
15171,13721,2022-12-31,ZTS,1.0,2023-02-14,7506.0,463.808,0.99,4403.0,470.385,1912.0,0.325,2023-02-14,171.89999,173.44000,4136.13,18.270011,0.001874,0.99,42.669233
15172,13721,2023-03-31,ZTS,1.0,2023-05-04,6269.0,462.495,1.19,4491.0,464.600,549.0,0.375,2023-05-04,178.47000,168.00000,4061.22,17.301082,0.002232,1.19,142.172678
15173,13721,2023-06-30,ZTS,1.0,2023-08-08,6183.0,460.751,1.45,4621.0,463.800,732.0,0.375,2023-08-08,189.30000,182.14999,4499.38,18.161824,0.002059,1.45,115.411428
15174,13721,2023-09-30,ZTS,1.0,2023-11-02,6222.0,459.525,1.29,5074.0,463.000,1456.0,0.375,2023-11-02,160.91000,155.31000,4317.78,14.065595,0.002415,1.29,49.387727

In [258]:


# convert features to pct

features = [
    'actq', 'ancq', 'epsfxq',
    'lctq', 'ltq', 'revtq',
    'capxy']

ratios = [
    'roa', 'roe','pe_inc', 'divyield',
    'pcf', 'roce',
    'debt_ebitda', 'gpm','evm',
    'cfm', 'npm', 'PEG_trailing',
    'de_ratio', 'curr_ratio', 'ptb']

df[features] = df[features].pct_change()

for col in ratios:
    df[col + '_change'] = df[col].pct_change()


df['prccq_change'] =  df['prccq'].pct_change()
df['next_prccq_change'] = df['prccq_change'].shift(-1)

df['spindx_change'] = df['spindx'].pct_change()
df['next_spindx_change'] = df['spindx_change'].shift(-1)

df['relative_quarterly_return'] = (df['prccq_change'] - df['spindx_change'])
df['next_relative_quarterly_return'] = df['relative_quarterly_return'].shift(-1)

#df = df.drop(columns=['prccq', 'spindx'])

df.info()

KeyError: "['ancq', 'epsfxq', 'lctq', 'ltq', 'revtq', 'capxy'] not in index"

In [ ]:
# REMOVE FALSE VALUES CAUSED BY PCT CHANGE

# Create a list to track the indices to drop
indices_to_drop = []

# Initialize the previous ticker as None
previous_ticker = None

# Iterate through the DataFrame, skipping the first row
for idx, row in df.iterrows():
    current_ticker = row['tic']
    
    # If the current ticker is different from the previous one, mark the current row for deletion
    if previous_ticker is not None and current_ticker != previous_ticker:
        indices_to_drop.append(idx)  # Append the index of the first occurrence of the new ticker
        indices_to_drop.append(idx-1)  # Append the index of the first occurrence of the new ticker
    
    # Update the previous ticker
    previous_ticker = current_ticker

# Drop the rows with the indices in the list
df = df.drop(indices_to_drop)

# Reset the index of the DataFrame after dropping rows
df = df.reset_index(drop=True)

df = df.drop(columns = ['index'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15339 entries, 0 to 15338
Data columns (total 48 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   gvkey                           15339 non-null  int64
 1   datadate                        15339 non-null  datetime64[ns]
 2   tic                             15339 non-null  object
 3   actq                            15338 non-null  float64
 4   ancq                            15338 non-null  float64
 5   epsfxq                          15337 non-null  float64
 6   lctq                            15338 non-null  float64
 7   ltq                             15338 non-null  float64
 8   revtq                           15338 non-null  float64
 9   capxy                           14787 non-null  float64
 10  prccq                           15338 non-null  float64
 11  roa                             15297 non-null  float64
 12  roe                             15099 non-null  float64
 13  pe_inc                          14627 non-null  float64
 14  divyield                        11856 non-null  float64
 15  pcf                             15295 non-null  float64
 16  roce                            15181 non-null  float64
 17  debt_ebitda                     15171 non-null  float64
 18  gpm                             15324 non-null  float64
 19  evm                             15249 non-null  float64
 20  cfm                             15020 non-null  float64
 21  npm                             15325 non-null  float64
 22  PEG_trailing                    10538 non-null  float64
 23  de_ratio                        15320 non-null  float64
 24  curr_ratio                      13364 non-null  float64
 25  ptb                             15143 non-null  float64
 26  spindx                          15339 non-null  float64
 27  roa_change                      15338 non-null  float64
 28  roe_change                      15338 non-null  float64
 29  pe_inc_change                   15338 non-null  float64
 30  divyield_change                 15313 non-null  float64
 31  pcf_change                      15338 non-null  float64
 32  roce_change                     15338 non-null  float64
 33  debt_ebitda_change              14902 non-null  float64
 34  gpm_change                      15338 non-null  float64
 35  evm_change                      15338 non-null  float64
 36  cfm_change                      15338 non-null  float64
 37  npm_change                      15338 non-null  float64
 38  PEG_trailing_change             15319 non-null  float64
 39  de_ratio_change                 15338 non-null  float64
 40  curr_ratio_change               15338 non-null  float64
 41  ptb_change                      15338 non-null  float64
 42  prccq_change                    15338 non-null  float64
 43  next_prccq_change               15338 non-null  float64
 44  spindx_change                   15338 non-null  float64
 45  next_spindx_change              15338 non-null  float64
 46  relative_quarterly_return       15338 non-null  float64
 47  next_relative_quarterly_return  15338 non-null  float64
dtypes: datetime64[ns](1), float64(45), int64(1), object(1)
memory usage: 5.6+ MB

In [ ]:

df = df.sort_values(by=['tic','datadate'])

df_temp = df[['spindx', 'spindx_change', 'next_spindx_change', 'prccq', 'prccq_change', 'next_prccq_change']]

df.head()


#df.to_csv('processed_data.csv', index=False)  # Set index=False to exclude the index column

,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,capxy,prccq,roa,roe,pe_inc,divyield,pcf,roce,debt_ebitda,gpm,evm,cfm,npm,PEG_trailing,de_ratio,curr_ratio,ptb,spindx,roa_change,roe_change,pe_inc_change,divyield_change,pcf_change,roce_change,debt_ebitda_change,gpm_change,evm_change,cfm_change,npm_change,PEG_trailing_change,de_ratio_change,curr_ratio_change,ptb_change,prccq_change,next_prccq_change,spindx_change,next_spindx_change,relative_quarterly_return,next_relative_quarterly_return
0,1690,1980-12-31,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.124969,0.851,0.868,80.303,NaN,-74.325,1.240,0.027,0.433,13.535,0.112,0.100,NaN,0.556,2.612,11.083,135.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.282051,NaN,0.001768,NaN,-0.283819
1,1690,1981-03-31,AAPL,0.188251,0.072247,0.142857,0.365898,0.404152,0.164801,NaN,24.499985,0.606,0.468,77.035,NaN,-85.319,1.587,0.020,0.440,17.753,0.112,0.104,NaN,0.420,3.234,12.188,136.00,-0.287897,-0.460829,-0.040696,NaN,0.147918,0.279839,-0.259259,0.016166,0.311636,0.000000,0.040000,NaN,-0.244604,0.238132,0.099702,-0.282051,0.061225,0.001768,-0.035221,-0.283819,0.096445
2,1690,1981-06-30,AAPL,0.162343,0.198897,0.312500,0.265953,0.333577,0.151768,NaN,25.999985,0.539,0.388,34.698,NaN,-56.890,2.136,0.028,0.463,18.791,0.112,0.115,NaN,0.368,3.681,6.507,131.21,-0.110561,-0.170940,-0.549581,NaN,-0.333208,0.345936,0.400000,0.052273,0.058469,0.000000,0.105769,NaN,-0.123810,0.138219,-0.466114,0.061225,-0.413461,-0.035221,-0.114549,0.096445,-0.298912
3,1690,1981-09-30,AAPL,0.128400,0.315343,-0.095238,0.408022,0.329220,0.076709,NaN,15.249996,0.467,0.376,26.607,NaN,-44.727,0.583,0.182,0.487,11.468,0.143,0.118,NaN,0.437,3.231,5.659,116.18,-0.133581,-0.030928,-0.233183,NaN,-0.213799,-0.727060,5.500000,0.051836,-0.389708,0.276786,0.026087,NaN,0.187500,-0.122249,-0.130321,-0.413461,0.450819,-0.114549,0.054829,-0.298912,0.395990
4,1690,1981-12-31,AAPL,0.097119,0.298983,0.263158,0.194536,0.199391,0.367278,NaN,22.124985,0.409,0.286,22.812,NaN,-180.620,0.429,0.031,0.503,14.316,0.140,0.114,NaN,0.400,3.492,5.086,122.55,-0.124197,-0.239362,-0.142632,NaN,3.038277,-0.264151,-0.829670,0.032854,0.248343,-0.020979,-0.033898,NaN,-0.084668,0.080780,-0.101255,0.450819,-0.237288,0.054829,-0.086414,0.395990,-0.150875

In [ ]:
file_path_4 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/pro_data.csv' # cleaned data
df = pd.read_csv(file_path_4)
df['datadate'] = pd.to_datetime(df['datadate'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15339 entries, 0 to 15338
Data columns (total 42 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   gvkey                           15339 non-null  int64
 1   datadate                        15339 non-null  datetime64[ns]
 2   tic                             15339 non-null  object
 3   actq                            15338 non-null  float64
 4   ancq                            15338 non-null  float64
 5   epsfxq                          15337 non-null  float64
 6   lctq                            15338 non-null  float64
 7   ltq                             15338 non-null  float64
 8   revtq                           15338 non-null  float64
 9   capxy                           14787 non-null  float64
 10  roa                             15297 non-null  float64
 11  roe                             15099 non-null  float64
 12  pe_inc                          14627 non-null  float64
 13  divyield                        11856 non-null  float64
 14  pcf                             15295 non-null  float64
 15  roce                            15181 non-null  float64
 16  debt_ebitda                     15171 non-null  float64
 17  gpm                             15324 non-null  float64
 18  evm                             15249 non-null  float64
 19  cfm                             15020 non-null  float64
 20  npm                             15325 non-null  float64
 21  PEG_trailing                    10538 non-null  float64
 22  de_ratio                        15320 non-null  float64
 23  curr_ratio                      13364 non-null  float64
 24  ptb                             15143 non-null  float64
 25  roa_change                      15338 non-null  float64
 26  roe_change                      15338 non-null  float64
 27  pe_inc_change                   15338 non-null  float64
 28  divyield_change                 15313 non-null  float64
 29  pcf_change                      15338 non-null  float64
 30  roce_change                     15338 non-null  float64
 31  debt_ebitda_change              14902 non-null  float64
 32  gpm_change                      15338 non-null  float64
 33  evm_change                      15338 non-null  float64
 34  cfm_change                      15338 non-null  float64
 35  npm_change                      15338 non-null  float64
 36  PEG_trailing_change             15319 non-null  float64
 37  de_ratio_change                 15338 non-null  float64
 38  curr_ratio_change               15338 non-null  float64
 39  ptb_change                      15338 non-null  float64
 40  relative_quarterly_return       14322 non-null  float64
 41  next_relative_quarterly_return  15318 non-null  float64
dtypes: datetime64[ns](1), float64(39), int64(1), object(1)
memory usage: 4.9+ MB

In [ ]:
df[['spindx', 'spindx_change', 'next_spindx_change', 'prccq', 'prccq_change', 'next_prccq_change']] = df_temp

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15339 entries, 0 to 15338
Data columns (total 48 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   gvkey                           15339 non-null  int64
 1   datadate                        15339 non-null  datetime64[ns]
 2   tic                             15339 non-null  object
 3   actq                            15338 non-null  float64
 4   ancq                            15338 non-null  float64
 5   epsfxq                          15337 non-null  float64
 6   lctq                            15338 non-null  float64
 7   ltq                             15338 non-null  float64
 8   revtq                           15338 non-null  float64
 9   capxy                           14787 non-null  float64
 10  roa                             15297 non-null  float64
 11  roe                             15099 non-null  float64
 12  pe_inc                          14627 non-null  float64
 13  divyield                        11856 non-null  float64
 14  pcf                             15295 non-null  float64
 15  roce                            15181 non-null  float64
 16  debt_ebitda                     15171 non-null  float64
 17  gpm                             15324 non-null  float64
 18  evm                             15249 non-null  float64
 19  cfm                             15020 non-null  float64
 20  npm                             15325 non-null  float64
 21  PEG_trailing                    10538 non-null  float64
 22  de_ratio                        15320 non-null  float64
 23  curr_ratio                      13364 non-null  float64
 24  ptb                             15143 non-null  float64
 25  roa_change                      15338 non-null  float64
 26  roe_change                      15338 non-null  float64
 27  pe_inc_change                   15338 non-null  float64
 28  divyield_change                 15313 non-null  float64
 29  pcf_change                      15338 non-null  float64
 30  roce_change                     15338 non-null  float64
 31  debt_ebitda_change              14902 non-null  float64
 32  gpm_change                      15338 non-null  float64
 33  evm_change                      15338 non-null  float64
 34  cfm_change                      15338 non-null  float64
 35  npm_change                      15338 non-null  float64
 36  PEG_trailing_change             15319 non-null  float64
 37  de_ratio_change                 15338 non-null  float64
 38  curr_ratio_change               15338 non-null  float64
 39  ptb_change                      15338 non-null  float64
 40  relative_quarterly_return       14322 non-null  float64
 41  next_relative_quarterly_return  15318 non-null  float64
 42  spindx                          15339 non-null  float64
 43  spindx_change                   15338 non-null  float64
 44  next_spindx_change              15338 non-null  float64
 45  prccq                           15338 non-null  float64
 46  prccq_change                    15338 non-null  float64
 47  next_prccq_change               15338 non-null  float64
dtypes: datetime64[ns](1), float64(45), int64(1), object(1)
memory usage: 5.6+ MB

In [ ]:
# Replace inf and -inf with NaN
df.replace(['inf', '-inf', np.inf, -np.inf], np.nan, inplace=True)

df.head()

,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,capxy,roa,roe,pe_inc,divyield,pcf,roce,debt_ebitda,gpm,evm,cfm,npm,PEG_trailing,de_ratio,curr_ratio,ptb,roa_change,roe_change,pe_inc_change,divyield_change,pcf_change,roce_change,debt_ebitda_change,gpm_change,evm_change,cfm_change,npm_change,PEG_trailing_change,de_ratio_change,curr_ratio_change,ptb_change,relative_quarterly_return,next_relative_quarterly_return,spindx,spindx_change,next_spindx_change,prccq,prccq_change,next_prccq_change
0,1690,1980-12-31,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.851,0.868,80.303,NaN,-74.325,1.240,0.027,0.433,13.535,0.112,0.100,NaN,0.556,2.612,11.083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.283819,135.76,NaN,0.001768,34.124969,NaN,-0.282051
1,1690,1981-03-31,AAPL,0.188251,0.072247,0.142857,0.365898,0.404152,0.164801,NaN,0.606,0.468,77.035,NaN,-85.319,1.587,0.020,0.440,17.753,0.112,0.104,NaN,0.420,3.234,12.188,-0.287897,-0.460829,-0.040696,NaN,0.147918,0.279839,-0.259259,0.016166,0.311636,0.000000,0.040000,NaN,-0.244604,0.238132,0.099702,-0.283819,0.096445,136.00,0.001768,-0.035221,24.499985,-0.282051,0.061225
2,1690,1981-06-30,AAPL,0.162343,0.198897,0.312500,0.265953,0.333577,0.151768,NaN,0.539,0.388,34.698,NaN,-56.890,2.136,0.028,0.463,18.791,0.112,0.115,NaN,0.368,3.681,6.507,-0.110561,-0.170940,-0.549581,NaN,-0.333208,0.345936,0.400000,0.052273,0.058469,0.000000,0.105769,NaN,-0.123810,0.138219,-0.466114,0.096445,-0.298912,131.21,-0.035221,-0.114549,25.999985,0.061225,-0.413461
3,1690,1981-09-30,AAPL,0.128400,0.315343,-0.095238,0.408022,0.329220,0.076709,NaN,0.467,0.376,26.607,NaN,-44.727,0.583,0.182,0.487,11.468,0.143,0.118,NaN,0.437,3.231,5.659,-0.133581,-0.030928,-0.233183,NaN,-0.213799,-0.727060,5.500000,0.051836,-0.389708,0.276786,0.026087,NaN,0.187500,-0.122249,-0.130321,-0.298912,0.395990,116.18,-0.114549,0.054829,15.249996,-0.413461,0.450819
4,1690,1981-12-31,AAPL,0.097119,0.298983,0.263158,0.194536,0.199391,0.367278,NaN,0.409,0.286,22.812,NaN,-180.620,0.429,0.031,0.503,14.316,0.140,0.114,NaN,0.400,3.492,5.086,-0.124197,-0.239362,-0.142632,NaN,3.038277,-0.264151,-0.829670,0.032854,0.248343,-0.020979,-0.033898,NaN,-0.084668,0.080780,-0.101255,0.395990,-0.150875,122.55,0.054829,-0.086414,22.124985,0.450819,-0.237288

In [ ]:
df.to_csv('dati_trattati.csv', index=False)  # Set index=False to exclude the index column