In [513]:
import os
import numpy as np
import pandas as pd

In [514]:

file_path_1 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/fundamental_all.csv' # Fundamental data
df1 = pd.read_csv(file_path_1)
df1['datadate'] = pd.to_datetime(df1['datadate'])
df1 = df1.drop(columns=['fyearq', 'fqtr', 'indfmt', 'consol', 'popsrc', 'datafmt', 'curcdq', 'datacqtr', 'datafqtr','costat'])

df1 = df1.sort_values(by=['tic', 'datadate'])

df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17745 entries, 1236 to 15067
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   gvkey     17745 non-null  int64
 1   datadate  17745 non-null  datetime64[ns]
 2   tic       17745 non-null  object
 3   actq      13578 non-null  float64
 4   ancq      13192 non-null  float64
 5   epsfxq    16905 non-null  float64
 6   lctq      13579 non-null  float64
 7   ltq       15674 non-null  float64
 8   revtq     17110 non-null  float64
 9   ugiq      496 non-null    float64
 10  capxy     13254 non-null  float64
 11  prccq     17377 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(1), object(1)
memory usage: 1.8+ MB

In [515]:
df1.head()

,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,ugiq,capxy,prccq
1236,1690,1979-12-31,AAPL,23.052,1.584,0.06,11.689,12.262,19.540,NaN,NaN,NaN
1237,1690,1980-03-31,AAPL,28.367,1.986,0.06,14.244,14.632,23.550,NaN,NaN,NaN
1238,1690,1980-06-30,AAPL,37.930,3.777,0.06,20.976,21.926,32.569,NaN,NaN,NaN
1239,1690,1980-09-30,AAPL,54.106,11.244,0.07,37.780,39.401,41.467,NaN,NaN,NaN
1240,1690,1980-12-31,AAPL,145.720,16.402,0.14,28.866,31.117,67.621,NaN,NaN,34.124969

In [516]:
file_path_2 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/ratios_all.csv' # Financial ratios data
df2 = pd.read_csv(file_path_2)
df2['qdate'] = pd.to_datetime(df2['qdate'])
df2['public_date'] = pd.to_datetime(df2['public_date'])

# Sort by qdate and public_date to ensure the most recent public_date comes last
df2 = df2.sort_values(by=['qdate', 'public_date'])
# Drop duplicates to keep only the first public_date for each qdate
df2 = df2.drop_duplicates(subset=['qdate','TICKER'], keep='first')

columns_to_keep = [
    'gvkey', 'qdate', 'roa',
    'roe','pe_inc', 'divyield',
    'pcf', 'roce', 'fcf_ocf',
    'debt_ebitda', 'gpm', 'opmad',
    'evm', 'intcov_ratio', 'at_turn',
    'cfm', 'npm', 'PEG_trailing',
    'de_ratio', 'curr_ratio', 'ptb',
]

df2 = df2[columns_to_keep]

# convert divyield to float
df2['divyield'] = df2['divyield'].replace('%', '', regex=True).astype(float)

df2 = df2.sort_values(by=['qdate'])

df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15533 entries, 0 to 26692
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gvkey         15533 non-null  int64
 1   qdate         15520 non-null  datetime64[ns]
 2   roa           15472 non-null  float64
 3   roe           15267 non-null  float64
 4   pe_inc        14787 non-null  float64
 5   divyield      11974 non-null  float64
 6   pcf           15467 non-null  float64
 7   roce          15353 non-null  float64
 8   fcf_ocf       14206 non-null  float64
 9   debt_ebitda   15355 non-null  float64
 10  gpm           15512 non-null  float64
 11  opmad         15512 non-null  float64
 12  evm           15437 non-null  float64
 13  intcov_ratio  14432 non-null  float64
 14  at_turn       15475 non-null  float64
 15  cfm           15197 non-null  float64
 16  npm           15513 non-null  float64
 17  PEG_trailing  10629 non-null  float64
 18  de_ratio      15508 non-null  float64
 19  curr_ratio    13527 non-null  float64
 20  ptb           15328 non-null  float64
dtypes: datetime64[ns](1), float64(19), int64(1)
memory usage: 2.6 MB

In [517]:
df = pd.merge(df1, df2, left_on=['datadate', 'gvkey'], right_on=['qdate', 'gvkey'], how='inner')

columns_to_keep = [
    'gvkey', 'datadate', 'tic',
    'actq', 'ancq', 'epsfxq',
    'lctq', 'ltq', 'revtq',
    'capxy', 'prccq', 'roa',
    'roe','pe_inc', 'divyield',
    'pcf', 'roce', 'fcf_ocf',
    'debt_ebitda', 'gpm', 'opmad',
    'evm', 'intcov_ratio', 'at_turn',
    'cfm', 'npm', 'PEG_trailing',
    'de_ratio', 'curr_ratio', 'ptb',
]

df = df[columns_to_keep]

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15523 entries, 0 to 15522
Data columns (total 30 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gvkey         15523 non-null  int64
 1   datadate      15523 non-null  datetime64[ns]
 2   tic           15523 non-null  object
 3   actq          12739 non-null  float64
 4   ancq          12361 non-null  float64
 5   epsfxq        15404 non-null  float64
 6   lctq          12742 non-null  float64
 7   ltq           14742 non-null  float64
 8   revtq         15076 non-null  float64
 9   capxy         12419 non-null  float64
 10  prccq         15502 non-null  float64
 11  roa           15469 non-null  float64
 12  roe           15264 non-null  float64
 13  pe_inc        14789 non-null  float64
 14  divyield      11974 non-null  float64
 15  pcf           15464 non-null  float64
 16  roce          15350 non-null  float64
 17  fcf_ocf       14206 non-null  float64
 18  debt_ebitda   15346 non-null  float64
 19  gpm           15502 non-null  float64
 20  opmad         15502 non-null  float64
 21  evm           15427 non-null  float64
 22  intcov_ratio  14426 non-null  float64
 23  at_turn       15472 non-null  float64
 24  cfm           15192 non-null  float64
 25  npm           15503 non-null  float64
 26  PEG_trailing  10630 non-null  float64
 27  de_ratio      15498 non-null  float64
 28  curr_ratio    13523 non-null  float64
 29  ptb           15318 non-null  float64
dtypes: datetime64[ns](1), float64(27), int64(1), object(1)
memory usage: 3.7+ MB

In [518]:
df = df.sort_values(by=['tic','datadate'])

df.head()

,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,capxy,prccq,roa,roe,pe_inc,divyield,pcf,roce,fcf_ocf,debt_ebitda,gpm,opmad,evm,intcov_ratio,at_turn,cfm,npm,PEG_trailing,de_ratio,curr_ratio,ptb
0,1690,1980-12-31,AAPL,145.720,16.402,0.14,28.866,31.117,67.621,NaN,34.124969,0.851,0.868,80.303,NaN,-74.325,1.240,NaN,0.027,0.433,0.202,13.535,56.192,2.206,0.112,0.100,NaN,0.556,2.612,11.083
1,1690,1981-03-31,AAPL,173.152,17.587,0.16,39.428,43.693,78.765,NaN,24.499985,0.606,0.468,77.035,NaN,-85.319,1.587,NaN,0.020,0.440,0.194,17.753,45.675,1.917,0.112,0.104,NaN,0.420,3.234,12.188
2,1690,1981-06-30,AAPL,201.262,21.085,0.21,49.914,58.268,90.719,NaN,25.999985,0.539,0.388,34.698,NaN,-56.890,2.136,NaN,0.028,0.463,0.206,18.791,54.142,1.740,0.112,0.115,NaN,0.368,3.681,6.507
3,1690,1981-09-30,AAPL,227.104,27.734,0.19,70.280,77.451,97.678,NaN,15.249996,0.467,0.376,26.607,NaN,-44.727,0.583,NaN,0.182,0.487,0.198,11.468,50.879,2.091,0.143,0.118,NaN,0.437,3.231,5.659
4,1690,1981-12-31,AAPL,249.160,36.026,0.24,83.952,92.894,133.553,NaN,22.124985,0.409,0.286,22.812,NaN,-180.620,0.429,NaN,0.031,0.503,0.186,14.316,50.879,1.682,0.140,0.114,NaN,0.400,3.492,5.086

In [519]:
file_path_3 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/s&p500index.csv' # s&p500
df3 = pd.read_csv(file_path_3)
df3['caldt'] = pd.to_datetime(df3['caldt'])  # Adjust column name if needed

df = df.sort_values(by=['datadate'])


#merge (fill empty cells with nearest s&p500 value)
df = pd.merge_asof(df, df3, left_on='datadate', right_on='caldt', direction='nearest')
df = df.drop(columns=['caldt'])

# calculate relative returns
#df['relative_quarterly_return'] = (df['prccq'] - df['spindx'])
#df = df.drop(columns=['prccq', 'spindx'])

# prediction target is log return of next quarter
#df['y'] = df['relative_quarterly_return'].shift(-1)

df = df.sort_values(by=['tic','datadate']).reset_index()
df.head()

,index,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,capxy,prccq,roa,roe,pe_inc,divyield,pcf,roce,fcf_ocf,debt_ebitda,gpm,opmad,evm,intcov_ratio,at_turn,cfm,npm,PEG_trailing,de_ratio,curr_ratio,ptb,spindx
0,2010,1690,1980-12-31,AAPL,145.720,16.402,0.14,28.866,31.117,67.621,NaN,34.124969,0.851,0.868,80.303,NaN,-74.325,1.240,NaN,0.027,0.433,0.202,13.535,56.192,2.206,0.112,0.100,NaN,0.556,2.612,11.083,135.76
1,2067,1690,1981-03-31,AAPL,173.152,17.587,0.16,39.428,43.693,78.765,NaN,24.499985,0.606,0.468,77.035,NaN,-85.319,1.587,NaN,0.020,0.440,0.194,17.753,45.675,1.917,0.112,0.104,NaN,0.420,3.234,12.188,136.00
2,2115,1690,1981-06-30,AAPL,201.262,21.085,0.21,49.914,58.268,90.719,NaN,25.999985,0.539,0.388,34.698,NaN,-56.890,2.136,NaN,0.028,0.463,0.206,18.791,54.142,1.740,0.112,0.115,NaN,0.368,3.681,6.507,131.21
3,2132,1690,1981-09-30,AAPL,227.104,27.734,0.19,70.280,77.451,97.678,NaN,15.249996,0.467,0.376,26.607,NaN,-44.727,0.583,NaN,0.182,0.487,0.198,11.468,50.879,2.091,0.143,0.118,NaN,0.437,3.231,5.659,116.18
4,2208,1690,1981-12-31,AAPL,249.160,36.026,0.24,83.952,92.894,133.553,NaN,22.124985,0.409,0.286,22.812,NaN,-180.620,0.429,NaN,0.031,0.503,0.186,14.316,50.879,1.682,0.140,0.114,NaN,0.400,3.492,5.086,122.55

In [520]:
df = df.sort_values(by=['tic','datadate'])

# convert to pct
df['prccq'] = df['prccq'].pct_change()
df['spindx'] = df['spindx'].pct_change()

df['relative_quarterly_return'] = (df['prccq'] - df['spindx'])
df['target'] = df['relative_quarterly_return'].shift(-1)

df = df.drop(columns=['prccq', 'spindx'])

In [521]:
# GETTING RID OF ERRORS CAUSED BY PCT CHANGE

# Create a list to track the indices to drop
indices_to_drop = []

# Initialize the previous ticker as None
previous_ticker = None

# Iterate through the DataFrame, skipping the first row
for idx, row in df.iterrows():
    current_ticker = row['tic']
    
    # If the current ticker is different from the previous one, mark the current row for deletion
    if previous_ticker is not None and current_ticker != previous_ticker:
        indices_to_drop.append(idx)  # Append the index of the first occurrence of the new ticker
        indices_to_drop.append(idx-1)  # Append the index of the first occurrence of the new ticker
    
    # Update the previous ticker
    previous_ticker = current_ticker

# Drop the rows with the indices in the list
df = df.drop(indices_to_drop)

# Reset the index of the DataFrame after dropping rows
df = df.reset_index(drop=True)

df = df.drop(columns = ['index'])

In [522]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15339 entries, 0 to 15338
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   gvkey                      15339 non-null  int64
 1   datadate                   15339 non-null  datetime64[ns]
 2   tic                        15339 non-null  object
 3   actq                       12620 non-null  float64
 4   ancq                       12244 non-null  float64
 5   epsfxq                     15225 non-null  float64
 6   lctq                       12626 non-null  float64
 7   ltq                        14606 non-null  float64
 8   revtq                      14898 non-null  float64
 9   capxy                      12298 non-null  float64
 10  roa                        15297 non-null  float64
 11  roe                        15099 non-null  float64
 12  pe_inc                     14627 non-null  float64
 13  divyield                   11856 non-null  float64
 14  pcf                        15295 non-null  float64
 15  roce                       15181 non-null  float64
 16  fcf_ocf                    14068 non-null  float64
 17  debt_ebitda                15171 non-null  float64
 18  gpm                        15324 non-null  float64
 19  opmad                      15324 non-null  float64
 20  evm                        15249 non-null  float64
 21  intcov_ratio               14266 non-null  float64
 22  at_turn                    15300 non-null  float64
 23  cfm                        15020 non-null  float64
 24  npm                        15325 non-null  float64
 25  PEG_trailing               10538 non-null  float64
 26  de_ratio                   15320 non-null  float64
 27  curr_ratio                 13364 non-null  float64
 28  ptb                        15143 non-null  float64
 29  relative_quarterly_return  15338 non-null  float64
 30  target                     15338 non-null  float64
dtypes: datetime64[ns](1), float64(28), int64(1), object(1)
memory usage: 3.6+ MB

In [523]:
# Save DataFrame to CSV file
df.to_csv('processed_data.csv', index=False)  # Set index=False to exclude the index column