In [1030]:
import os
import numpy as np
import pandas as pd

In [1031]:

file_path_1 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/fundamental_all.csv' # Fundamental data
df1 = pd.read_csv(file_path_1)
df1['datadate'] = pd.to_datetime(df1['datadate'])
df1 = df1.drop(columns=['fyearq', 'fqtr', 'indfmt', 'consol', 'popsrc', 'datafmt', 'curcdq', 'datacqtr', 'datafqtr','costat'])

df1 = df1.sort_values(by=['tic', 'datadate'])

df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17745 entries, 1236 to 15067
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   gvkey     17745 non-null  int64
 1   datadate  17745 non-null  datetime64[ns]
 2   tic       17745 non-null  object
 3   actq      13578 non-null  float64
 4   ancq      13192 non-null  float64
 5   epsfxq    16905 non-null  float64
 6   lctq      13579 non-null  float64
 7   ltq       15674 non-null  float64
 8   revtq     17110 non-null  float64
 9   ugiq      496 non-null    float64
 10  capxy     13254 non-null  float64
 11  prccq     17377 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(1), object(1)
memory usage: 1.8+ MB

In [1032]:
df1.head()

,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,ugiq,capxy,prccq
1236,1690,1979-12-31,AAPL,23.052,1.584,0.06,11.689,12.262,19.540,NaN,NaN,NaN
1237,1690,1980-03-31,AAPL,28.367,1.986,0.06,14.244,14.632,23.550,NaN,NaN,NaN
1238,1690,1980-06-30,AAPL,37.930,3.777,0.06,20.976,21.926,32.569,NaN,NaN,NaN
1239,1690,1980-09-30,AAPL,54.106,11.244,0.07,37.780,39.401,41.467,NaN,NaN,NaN
1240,1690,1980-12-31,AAPL,145.720,16.402,0.14,28.866,31.117,67.621,NaN,NaN,34.124969

In [1033]:
file_path_2 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/ratios_all.csv' # Financial ratios data
df2 = pd.read_csv(file_path_2)
df2['qdate'] = pd.to_datetime(df2['qdate'])
df2['public_date'] = pd.to_datetime(df2['public_date'])

# Sort by qdate and public_date to ensure the most recent public_date comes last
df2 = df2.sort_values(by=['qdate', 'public_date'])
# Drop duplicates to keep only the first public_date for each qdate
df2 = df2.drop_duplicates(subset=['qdate','TICKER'], keep='first')

columns_to_keep = [
    'gvkey', 'qdate', 'roa',
    'roe','pe_inc', 'divyield',
    'pcf', 'roce', 'fcf_ocf',
    'debt_ebitda', 'gpm', 'opmad',
    'evm', 'intcov_ratio', 'at_turn',
    'cfm', 'npm', 'PEG_trailing',
    'de_ratio', 'curr_ratio', 'ptb',
]

df2 = df2[columns_to_keep]

# convert divyield to float
df2['divyield'] = df2['divyield'].replace('%', '', regex=True).astype(float)

df2 = df2.sort_values(by=['qdate'])

df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15533 entries, 0 to 26692
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gvkey         15533 non-null  int64
 1   qdate         15520 non-null  datetime64[ns]
 2   roa           15472 non-null  float64
 3   roe           15267 non-null  float64
 4   pe_inc        14787 non-null  float64
 5   divyield      11974 non-null  float64
 6   pcf           15467 non-null  float64
 7   roce          15353 non-null  float64
 8   fcf_ocf       14206 non-null  float64
 9   debt_ebitda   15355 non-null  float64
 10  gpm           15512 non-null  float64
 11  opmad         15512 non-null  float64
 12  evm           15437 non-null  float64
 13  intcov_ratio  14432 non-null  float64
 14  at_turn       15475 non-null  float64
 15  cfm           15197 non-null  float64
 16  npm           15513 non-null  float64
 17  PEG_trailing  10629 non-null  float64
 18  de_ratio      15508 non-null  float64
 19  curr_ratio    13527 non-null  float64
 20  ptb           15328 non-null  float64
dtypes: datetime64[ns](1), float64(19), int64(1)
memory usage: 2.6 MB

In [1034]:
df = pd.merge(df1, df2, left_on=['datadate', 'gvkey'], right_on=['qdate', 'gvkey'], how='inner')

columns_to_keep = [
    'gvkey', 'datadate', 'tic',
    'actq', 'ancq', 'epsfxq',
    'lctq', 'ltq', 'revtq',
    'capxy', 'prccq', 'roa',
    'roe','pe_inc', 'divyield',
    'pcf', 'roce', 'debt_ebitda',
    'gpm', 'evm', 'cfm', 'npm',
    'PEG_trailing', 'de_ratio',
    'curr_ratio', 'ptb',
]

column_renames = {
    'datadate': 'date', 
    'PRC': 'price', 
    'epsfxq': 'earnings_per_share', 
    'ltq': 'long_term_debt', 
    'niq': 'net_income', 
    'revtq': 'revenue', 
    'capxy': 'capital_expenditure', 
    'npm': 'net_profit_margin', 
    'de_ratio': 'debt/equity_Ratio', 
    'curr_ratio': 'current_ratio', 
    'ptb': 'price/book_ratio',
    'tic': 'ticker',
    'actq': 'current_assets',
    'ancq': 'non_current_assets',
    'lctq': 'total_liability',
    'prccq': 'price',
    'roa': 'return_on_assets',
    'roe': 'return_on_equity',
    'pe_inc': 'price/equity_ratio',
    'divyield': 'dividend_yield',
    'pcf': 'price/cash_flow',
    'roce': 'return_on_capital_employed',
    'debt_ebitda': 'debt/ebitda_ratio',
    'gpm': 'gross_profit_margin',
    'evm': 'enterprise_value_multiple',
    'cfm': 'cash_flow_margin',
    'PEG_trailing': 'trailing_p/e_to_growth_ratio'
}

df = df[columns_to_keep]

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15523 entries, 0 to 15522
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gvkey         15523 non-null  int64
 1   datadate      15523 non-null  datetime64[ns]
 2   tic           15523 non-null  object
 3   actq          12739 non-null  float64
 4   ancq          12361 non-null  float64
 5   epsfxq        15404 non-null  float64
 6   lctq          12742 non-null  float64
 7   ltq           14742 non-null  float64
 8   revtq         15076 non-null  float64
 9   capxy         12419 non-null  float64
 10  prccq         15502 non-null  float64
 11  roa           15469 non-null  float64
 12  roe           15264 non-null  float64
 13  pe_inc        14789 non-null  float64
 14  divyield      11974 non-null  float64
 15  pcf           15464 non-null  float64
 16  roce          15350 non-null  float64
 17  debt_ebitda   15346 non-null  float64
 18  gpm           15502 non-null  float64
 19  evm           15427 non-null  float64
 20  cfm           15192 non-null  float64
 21  npm           15503 non-null  float64
 22  PEG_trailing  10630 non-null  float64
 23  de_ratio      15498 non-null  float64
 24  curr_ratio    13523 non-null  float64
 25  ptb           15318 non-null  float64
dtypes: datetime64[ns](1), float64(23), int64(1), object(1)
memory usage: 3.2+ MB

In [1035]:
df = df.sort_values(by=['tic','datadate'])

df.head()

,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,capxy,prccq,roa,roe,pe_inc,divyield,pcf,roce,debt_ebitda,gpm,evm,cfm,npm,PEG_trailing,de_ratio,curr_ratio,ptb
0,1690,1980-12-31,AAPL,145.720,16.402,0.14,28.866,31.117,67.621,NaN,34.124969,0.851,0.868,80.303,NaN,-74.325,1.240,0.027,0.433,13.535,0.112,0.100,NaN,0.556,2.612,11.083
1,1690,1981-03-31,AAPL,173.152,17.587,0.16,39.428,43.693,78.765,NaN,24.499985,0.606,0.468,77.035,NaN,-85.319,1.587,0.020,0.440,17.753,0.112,0.104,NaN,0.420,3.234,12.188
2,1690,1981-06-30,AAPL,201.262,21.085,0.21,49.914,58.268,90.719,NaN,25.999985,0.539,0.388,34.698,NaN,-56.890,2.136,0.028,0.463,18.791,0.112,0.115,NaN,0.368,3.681,6.507
3,1690,1981-09-30,AAPL,227.104,27.734,0.19,70.280,77.451,97.678,NaN,15.249996,0.467,0.376,26.607,NaN,-44.727,0.583,0.182,0.487,11.468,0.143,0.118,NaN,0.437,3.231,5.659
4,1690,1981-12-31,AAPL,249.160,36.026,0.24,83.952,92.894,133.553,NaN,22.124985,0.409,0.286,22.812,NaN,-180.620,0.429,0.031,0.503,14.316,0.140,0.114,NaN,0.400,3.492,5.086

In [1036]:
file_path_3 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/s&p500index.csv' # s&p500
df3 = pd.read_csv(file_path_3)
df3['caldt'] = pd.to_datetime(df3['caldt'])  # Adjust column name if needed

df = df.sort_values(by=['datadate'])


#merge (fill empty cells with nearest s&p500 value)
df = pd.merge_asof(df, df3, left_on='datadate', right_on='caldt', direction='nearest')
df = df.drop(columns=['caldt'])

# calculate relative returns
#df['relative_quarterly_return'] = (df['prccq'] - df['spindx'])
#df = df.drop(columns=['prccq', 'spindx'])

#df = df.dropna(subset=['prccq'])

df = df.sort_values(by=['tic','datadate']).reset_index()
df.head()

,index,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,capxy,prccq,roa,roe,pe_inc,divyield,pcf,roce,debt_ebitda,gpm,evm,cfm,npm,PEG_trailing,de_ratio,curr_ratio,ptb,spindx
0,2010,1690,1980-12-31,AAPL,145.720,16.402,0.14,28.866,31.117,67.621,NaN,34.124969,0.851,0.868,80.303,NaN,-74.325,1.240,0.027,0.433,13.535,0.112,0.100,NaN,0.556,2.612,11.083,135.76
1,2067,1690,1981-03-31,AAPL,173.152,17.587,0.16,39.428,43.693,78.765,NaN,24.499985,0.606,0.468,77.035,NaN,-85.319,1.587,0.020,0.440,17.753,0.112,0.104,NaN,0.420,3.234,12.188,136.00
2,2115,1690,1981-06-30,AAPL,201.262,21.085,0.21,49.914,58.268,90.719,NaN,25.999985,0.539,0.388,34.698,NaN,-56.890,2.136,0.028,0.463,18.791,0.112,0.115,NaN,0.368,3.681,6.507,131.21
3,2132,1690,1981-09-30,AAPL,227.104,27.734,0.19,70.280,77.451,97.678,NaN,15.249996,0.467,0.376,26.607,NaN,-44.727,0.583,0.182,0.487,11.468,0.143,0.118,NaN,0.437,3.231,5.659,116.18
4,2208,1690,1981-12-31,AAPL,249.160,36.026,0.24,83.952,92.894,133.553,NaN,22.124985,0.409,0.286,22.812,NaN,-180.620,0.429,0.031,0.503,14.316,0.140,0.114,NaN,0.400,3.492,5.086,122.55

In [1037]:


# convert features to pct

features = [
    'actq', 'ancq', 'epsfxq',
    'lctq', 'ltq', 'revtq',
    'capxy', 'prccq',]

ratios = [
    'roa', 'roe','pe_inc', 'divyield',
    'pcf', 'roce',
    'debt_ebitda', 'gpm','evm',
    'cfm', 'npm', 'PEG_trailing',
    'de_ratio', 'curr_ratio', 'ptb']

df[features] = df[features].pct_change()

for col in ratios:
    df[col + '_change'] = df[col].pct_change()


df['spindx'] = df['spindx'].pct_change()

df['relative_quarterly_return'] = (df['prccq'] - df['spindx'])
df['target'] = df['relative_quarterly_return'].shift(-1)

df = df.drop(columns=['prccq', 'spindx'])

df.head()

,index,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,capxy,roa,roe,pe_inc,divyield,pcf,roce,debt_ebitda,gpm,evm,cfm,npm,PEG_trailing,de_ratio,curr_ratio,ptb,roa_change,roe_change,pe_inc_change,divyield_change,pcf_change,roce_change,debt_ebitda_change,gpm_change,evm_change,cfm_change,npm_change,PEG_trailing_change,de_ratio_change,curr_ratio_change,ptb_change,relative_quarterly_return,target
0,2010,1690,1980-12-31,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.851,0.868,80.303,NaN,-74.325,1.240,0.027,0.433,13.535,0.112,0.100,NaN,0.556,2.612,11.083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.283819
1,2067,1690,1981-03-31,AAPL,0.188251,0.072247,0.142857,0.365898,0.404152,0.164801,NaN,0.606,0.468,77.035,NaN,-85.319,1.587,0.020,0.440,17.753,0.112,0.104,NaN,0.420,3.234,12.188,-0.287897,-0.460829,-0.040696,NaN,0.147918,0.279839,-0.259259,0.016166,0.311636,0.000000,0.040000,NaN,-0.244604,0.238132,0.099702,-0.283819,0.096445
2,2115,1690,1981-06-30,AAPL,0.162343,0.198897,0.312500,0.265953,0.333577,0.151768,NaN,0.539,0.388,34.698,NaN,-56.890,2.136,0.028,0.463,18.791,0.112,0.115,NaN,0.368,3.681,6.507,-0.110561,-0.170940,-0.549581,NaN,-0.333208,0.345936,0.400000,0.052273,0.058469,0.000000,0.105769,NaN,-0.123810,0.138219,-0.466114,0.096445,-0.298912
3,2132,1690,1981-09-30,AAPL,0.128400,0.315343,-0.095238,0.408022,0.329220,0.076709,NaN,0.467,0.376,26.607,NaN,-44.727,0.583,0.182,0.487,11.468,0.143,0.118,NaN,0.437,3.231,5.659,-0.133581,-0.030928,-0.233183,NaN,-0.213799,-0.727060,5.500000,0.051836,-0.389708,0.276786,0.026087,NaN,0.187500,-0.122249,-0.130321,-0.298912,0.395990
4,2208,1690,1981-12-31,AAPL,0.097119,0.298983,0.263158,0.194536,0.199391,0.367278,NaN,0.409,0.286,22.812,NaN,-180.620,0.429,0.031,0.503,14.316,0.140,0.114,NaN,0.400,3.492,5.086,-0.124197,-0.239362,-0.142632,NaN,3.038277,-0.264151,-0.829670,0.032854,0.248343,-0.020979,-0.033898,NaN,-0.084668,0.080780,-0.101255,0.395990,-0.150875

In [1038]:
# REMOVE FALSE VALUES CAUSED BY PCT CHANGE

# Create a list to track the indices to drop
indices_to_drop = []

# Initialize the previous ticker as None
previous_ticker = None

# Iterate through the DataFrame, skipping the first row
for idx, row in df.iterrows():
    current_ticker = row['tic']
    
    # If the current ticker is different from the previous one, mark the current row for deletion
    if previous_ticker is not None and current_ticker != previous_ticker:
        indices_to_drop.append(idx)  # Append the index of the first occurrence of the new ticker
        indices_to_drop.append(idx-1)  # Append the index of the first occurrence of the new ticker
    
    # Update the previous ticker
    previous_ticker = current_ticker

# Drop the rows with the indices in the list
df = df.drop(indices_to_drop)

# Reset the index of the DataFrame after dropping rows
df = df.reset_index(drop=True)

df = df.drop(columns = ['index'])

df.head()

,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,capxy,roa,roe,pe_inc,divyield,pcf,roce,debt_ebitda,gpm,evm,cfm,npm,PEG_trailing,de_ratio,curr_ratio,ptb,roa_change,roe_change,pe_inc_change,divyield_change,pcf_change,roce_change,debt_ebitda_change,gpm_change,evm_change,cfm_change,npm_change,PEG_trailing_change,de_ratio_change,curr_ratio_change,ptb_change,relative_quarterly_return,target
0,1690,1980-12-31,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.851,0.868,80.303,NaN,-74.325,1.240,0.027,0.433,13.535,0.112,0.100,NaN,0.556,2.612,11.083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.283819
1,1690,1981-03-31,AAPL,0.188251,0.072247,0.142857,0.365898,0.404152,0.164801,NaN,0.606,0.468,77.035,NaN,-85.319,1.587,0.020,0.440,17.753,0.112,0.104,NaN,0.420,3.234,12.188,-0.287897,-0.460829,-0.040696,NaN,0.147918,0.279839,-0.259259,0.016166,0.311636,0.000000,0.040000,NaN,-0.244604,0.238132,0.099702,-0.283819,0.096445
2,1690,1981-06-30,AAPL,0.162343,0.198897,0.312500,0.265953,0.333577,0.151768,NaN,0.539,0.388,34.698,NaN,-56.890,2.136,0.028,0.463,18.791,0.112,0.115,NaN,0.368,3.681,6.507,-0.110561,-0.170940,-0.549581,NaN,-0.333208,0.345936,0.400000,0.052273,0.058469,0.000000,0.105769,NaN,-0.123810,0.138219,-0.466114,0.096445,-0.298912
3,1690,1981-09-30,AAPL,0.128400,0.315343,-0.095238,0.408022,0.329220,0.076709,NaN,0.467,0.376,26.607,NaN,-44.727,0.583,0.182,0.487,11.468,0.143,0.118,NaN,0.437,3.231,5.659,-0.133581,-0.030928,-0.233183,NaN,-0.213799,-0.727060,5.500000,0.051836,-0.389708,0.276786,0.026087,NaN,0.187500,-0.122249,-0.130321,-0.298912,0.395990
4,1690,1981-12-31,AAPL,0.097119,0.298983,0.263158,0.194536,0.199391,0.367278,NaN,0.409,0.286,22.812,NaN,-180.620,0.429,0.031,0.503,14.316,0.140,0.114,NaN,0.400,3.492,5.086,-0.124197,-0.239362,-0.142632,NaN,3.038277,-0.264151,-0.829670,0.032854,0.248343,-0.020979,-0.033898,NaN,-0.084668,0.080780,-0.101255,0.395990,-0.150875

In [1039]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15339 entries, 0 to 15338
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   gvkey                      15339 non-null  int64
 1   datadate                   15339 non-null  datetime64[ns]
 2   tic                        15339 non-null  object
 3   actq                       15338 non-null  float64
 4   ancq                       15338 non-null  float64
 5   epsfxq                     15337 non-null  float64
 6   lctq                       15338 non-null  float64
 7   ltq                        15338 non-null  float64
 8   revtq                      15338 non-null  float64
 9   capxy                      14787 non-null  float64
 10  roa                        15297 non-null  float64
 11  roe                        15099 non-null  float64
 12  pe_inc                     14627 non-null  float64
 13  divyield                   11856 non-null  float64
 14  pcf                        15295 non-null  float64
 15  roce                       15181 non-null  float64
 16  debt_ebitda                15171 non-null  float64
 17  gpm                        15324 non-null  float64
 18  evm                        15249 non-null  float64
 19  cfm                        15020 non-null  float64
 20  npm                        15325 non-null  float64
 21  PEG_trailing               10538 non-null  float64
 22  de_ratio                   15320 non-null  float64
 23  curr_ratio                 13364 non-null  float64
 24  ptb                        15143 non-null  float64
 25  roa_change                 15338 non-null  float64
 26  roe_change                 15338 non-null  float64
 27  pe_inc_change              15338 non-null  float64
 28  divyield_change            15313 non-null  float64
 29  pcf_change                 15338 non-null  float64
 30  roce_change                15338 non-null  float64
 31  debt_ebitda_change         14902 non-null  float64
 32  gpm_change                 15338 non-null  float64
 33  evm_change                 15338 non-null  float64
 34  cfm_change                 15338 non-null  float64
 35  npm_change                 15338 non-null  float64
 36  PEG_trailing_change        15319 non-null  float64
 37  de_ratio_change            15338 non-null  float64
 38  curr_ratio_change          15338 non-null  float64
 39  ptb_change                 15338 non-null  float64
 40  relative_quarterly_return  15338 non-null  float64
 41  target                     15338 non-null  float64
dtypes: datetime64[ns](1), float64(39), int64(1), object(1)
memory usage: 4.9+ MB

In [1040]:
# Save DataFrame to CSV file
df = df.sort_values(by=['tic','datadate'])
df.head()
#df.to_csv('processed_data.csv', index=False)  # Set index=False to exclude the index column

,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,capxy,roa,roe,pe_inc,divyield,pcf,roce,debt_ebitda,gpm,evm,cfm,npm,PEG_trailing,de_ratio,curr_ratio,ptb,roa_change,roe_change,pe_inc_change,divyield_change,pcf_change,roce_change,debt_ebitda_change,gpm_change,evm_change,cfm_change,npm_change,PEG_trailing_change,de_ratio_change,curr_ratio_change,ptb_change,relative_quarterly_return,target
0,1690,1980-12-31,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.851,0.868,80.303,NaN,-74.325,1.240,0.027,0.433,13.535,0.112,0.100,NaN,0.556,2.612,11.083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.283819
1,1690,1981-03-31,AAPL,0.188251,0.072247,0.142857,0.365898,0.404152,0.164801,NaN,0.606,0.468,77.035,NaN,-85.319,1.587,0.020,0.440,17.753,0.112,0.104,NaN,0.420,3.234,12.188,-0.287897,-0.460829,-0.040696,NaN,0.147918,0.279839,-0.259259,0.016166,0.311636,0.000000,0.040000,NaN,-0.244604,0.238132,0.099702,-0.283819,0.096445
2,1690,1981-06-30,AAPL,0.162343,0.198897,0.312500,0.265953,0.333577,0.151768,NaN,0.539,0.388,34.698,NaN,-56.890,2.136,0.028,0.463,18.791,0.112,0.115,NaN,0.368,3.681,6.507,-0.110561,-0.170940,-0.549581,NaN,-0.333208,0.345936,0.400000,0.052273,0.058469,0.000000,0.105769,NaN,-0.123810,0.138219,-0.466114,0.096445,-0.298912
3,1690,1981-09-30,AAPL,0.128400,0.315343,-0.095238,0.408022,0.329220,0.076709,NaN,0.467,0.376,26.607,NaN,-44.727,0.583,0.182,0.487,11.468,0.143,0.118,NaN,0.437,3.231,5.659,-0.133581,-0.030928,-0.233183,NaN,-0.213799,-0.727060,5.500000,0.051836,-0.389708,0.276786,0.026087,NaN,0.187500,-0.122249,-0.130321,-0.298912,0.395990
4,1690,1981-12-31,AAPL,0.097119,0.298983,0.263158,0.194536,0.199391,0.367278,NaN,0.409,0.286,22.812,NaN,-180.620,0.429,0.031,0.503,14.316,0.140,0.114,NaN,0.400,3.492,5.086,-0.124197,-0.239362,-0.142632,NaN,3.038277,-0.264151,-0.829670,0.032854,0.248343,-0.020979,-0.033898,NaN,-0.084668,0.080780,-0.101255,0.395990,-0.150875

In [1045]:
file_path_4 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/processed_cleaned_data.csv' # cleaned data
df = pd.read_csv(file_path_4)
df['datadate'] = pd.to_datetime(df['datadate'])
df = df.dropna(subset=['relative_quarterly_return'])
df = df.sort_values(by=['relative_quarterly_return'])
df.head(30)

,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,capxy,roa,roe,pe_inc,divyield,pcf,roce,debt_ebitda,gpm,evm,cfm,npm,PEG_trailing,de_ratio,curr_ratio,ptb,roa_change,roe_change,pe_inc_change,divyield_change,pcf_change,roce_change,debt_ebitda_change,gpm_change,evm_change,cfm_change,npm_change,PEG_trailing_change,de_ratio_change,curr_ratio_change,ptb_change,relative_quarterly_return,target
6065,22260,1990-06-30,HCA,-0.999463,-0.999397,-0.166667,-0.999412,-0.999880,0.184821,-0.997562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.510,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.342857,-1.042564,-0.006817
13968,10920,1999-12-31,UPS,0.609770,0.009069,-0.456311,-0.311578,-0.110803,0.108861,0.469444,0.256,0.074,70.942,1.240,2.688,0.323,0.473,0.190,16.767,0.075,0.033,NaN,0.847,2.653,0.403,-0.055351,-0.051282,0.479499,1.475050,-0.147749,-0.124661,-0.305433,0.038251,23.621145,0.056338,0.222222,0.000000,-0.468966,1.100554,-0.580208,-1.008573,-0.107089
10001,7343,1984-08-31,MU,1.231425,0.457165,0.241379,1.045791,0.148423,0.274991,0.733183,0.574,0.635,35.362,NaN,15.706,0.645,0.080,0.608,12.795,0.401,0.332,NaN,0.355,1.430,5.172,-0.096063,-0.219902,3.062263,0.000000,-0.470358,0.004673,-0.838057,0.119705,24.900810,-4.369748,0.006061,0.000000,-0.484761,-0.070221,-0.573162,-1.008170,-0.085401
12020,8898,1983-09-30,RJF,0.000000,0.000000,-0.200000,-0.986114,-0.992540,-0.060363,0.000000,NaN,NaN,6.636,NaN,NaN,NaN,1.125,0.177,4.614,0.082,0.072,NaN,1.911,NaN,1.539,0.000000,0.000000,-0.717497,0.000000,0.000000,0.000000,1.079482,-0.803552,-0.733603,-0.755952,-0.763934,0.000000,5.728873,0.000000,-0.565745,-0.974499,-0.152226
3604,20779,1990-04-30,CSCO,2.485367,1.272225,0.130435,0.235351,0.226158,0.111519,1.974879,0.881,1.160,32.716,NaN,NaN,2.201,0.016,0.640,4.446,0.156,0.186,NaN,0.410,3.311,5.041,0.162269,-0.271814,-0.113796,0.000000,0.000000,0.039679,-0.238095,0.032258,18.848214,0.000000,0.094118,0.000000,-0.542411,0.642361,-0.821247,-0.961988,-0.002948
13813,10903,1984-12-31,UNH,-0.998878,-0.999786,-5.500000,-0.998830,-0.999527,0.432965,-0.999379,0.413,0.296,43.125,NaN,211.693,0.492,0.000,0.356,9.722,0.129,0.089,NaN,0.245,4.421,8.437,7.098039,-10.866667,-0.655000,0.000000,26.759376,19.500000,-1.000000,0.011364,9.555917,0.675325,2.423077,0.000000,-0.951010,7.126838,-0.643029,-0.941643,0.916109
4683,138743,2000-09-30,EQIX,0.821470,0.361313,-0.732824,0.361153,0.099827,3.409193,0.566291,-0.182,-6.533,-32.037,NaN,-4.202,-0.387,-2.830,-2.268,-7.427,-15.957,-17.396,NaN,1.081,4.435,0.812,0.174194,-14.989293,-0.197027,0.000000,-0.678893,0.482759,-0.288050,-0.967995,0.079192,-0.702184,-0.697008,0.000000,-0.331891,-0.122998,-0.980239,-0.935173,-0.426131
11891,23812,1991-06-30,REGN,4.332790,-0.005204,-0.714286,-0.244709,-0.127019,0.038141,0.154545,-0.183,-0.502,-40.401,NaN,-26.637,-0.442,-0.028,-0.678,-13.429,-0.291,-0.369,NaN,0.130,23.656,0.482,0.063953,-0.728208,0.915375,0.000000,0.618582,0.118987,-inf,-0.178182,7.477904,-0.500000,-0.442598,0.000000,-0.631728,1.460067,-0.895581,-0.917658,0.299541
5608,165993,2006-03-31,FIS,0.450881,0.843708,-0.342857,0.417675,0.270829,0.273078,-0.649955,0.147,0.230,26.057,0.544,16.578,0.143,4.428,0.392,8.735,0.179,0.063,NaN,2.614,1.380,2.091,-0.057692,1.190476,-0.328012,0.034221,-0.028025,0.036232,0.104790,-0.077647,1.168570,0.000000,-0.112676,0.000000,-0.478452,0.023739,-0.756351,-0.881931,-0.107982
134,1690,2014-06-30,AAPL,-0.036745,0.141183,-0.889845,0.069362,0.183778,-0.179950,0.706267,0.282,0.272,4.126,1.830,10.888,0.364,0.346,0.428,8.585,0.260,0.216,NaN,0.741,1.563,4.350,0.007143,0.046154,6.640741,-0.120192,0.077167,0.019608,0.180887,0.016627,0.090436,0.011673,0.009346,0.000000,0.078603,-0.053874,0.114242,-0.873803,0.077997
1509,64768,1997-06-30,AMZN,5.550786,0.450075,1.187500,0.937381,0.957585,0.740394,1.417927,-1.559,-4.956,-39.524,NaN,-275.490,-5.144,-0.004,0.208,-9.447,-0.349,-0.270,NaN,0.606,2.417,14.696,0.520976,0.983193,-0.463849,0.000000,-0.199134,0.996894,-inf,-0.091703,9446.000000,0.000000,-0.018182,0.000000,-0.729947,1.065812,-0.397334,-0.860806,1.743958
15296,13721,2013-03-31,ZTS,0.027235,-0.058270,-15.000000,0.146037,1.439442,-0.072635,-0.825397,0.188,0.106,34.409,0.813,5.220,0.215,1.405,0.677,6.283,0.138,0.105,NaN,1.069,2.657,3.029,0.050279,0.019231,-0.093403,0.033037,-0.275101,0.069652,1.587477,0.005944,10.570902,-0.054795,0.050000,0.000000,0.936594,0.041961,3.027926,-0.811283,-0.108942
6766,28195,1993-05-31,JBL,0.058634,0.250346,-0.173913,-0.082616,-0.030861,0.113194,0.760493,0.226,0.464,10.656,NaN,6.478,0.223,2.265,0.116,3.953,0.047,0.027,NaN,2.213,1.299,1.903,-0.201413,-0.637500,-0.453538,0.000000,-0.445709,-0.148855,-0.067517,-0.016949,0.627419,-0.020833,0.000000,0.000000,-0.071339,0.033413,-0.566811,-0.808739,0.043076
1034,1487,2008-09-30,AIG,0.000000,0.000000,3.393204,0.000000,-0.022172,-1.054881,0.171879,-0.045,-0.480,-2.439,NaN,0.525,-0.169,-4.637,0.199,-6.632,-0.492,-0.823,NaN,11.745,NaN,0.076,2.461538,2.000000,-0.965951,0.000000,-0.666667,1.964912,-0.696730,-2.191617,-0.735123,-50.200000,3.472826,0.000000,0.096025,0.000000,-0.897297,-0.785368,-0.302946
10247,7906,1983-02-28,NKE,0.109706,0.068501,-0.621212,0.171046,0.162383,0.057574,0.000000,0.333,0.330,13.294,NaN,-10.813,0.481,0.908,0.315,6.007,0.078,0.064,NaN,1.444,1.605,1.731,-0.067227,-0.210526,0.033587,0.000000,0.296212,-0.107607,0.038902,-0.012539,0.005692,0.000000,-0.072464,0.000000,-0.053115,0.018401,0.241750,-0.725791,0.001117
10003,7343,1985-02-28,MU,-0.009751,0.106266,-0.727273,-0.298632,0.196113,-0.511325,0.692060,0.698,0.550,7.963,NaN,5.998,0.676,0.183,0.657,5.007,0.420,0.305,NaN,0.387,1.693,1.932,-0.088773,-0.172932,-0.021264,0.000000,-0.327126,-0.146465,0.180645,0.023364,0.145504,0.024390,-0.052795,0.000000,-0.051471,0.076287,-0.534906,-0.692475,-0.336462
6777,28195,1996-02-29,JBL,-0.164179,0.030169,0.096774,-0.228429,-0.204920,0.007582,0.503764,0.191,0.251,11.190,NaN,-11.499,0.212,1.971,0.089,6.017,0.041,0.022,NaN,2.514,1.290,1.837,0.116959,0.364130,0.158505,0.000000,4.067871,0.225434,-0.225844,0.059524,-0.210264,0.171429,0.375000,0.000000,-0.105974,0.034483,0.749524,-0.684421,0.664879
13652,10793,1983-06-30,TSN,-0.059079,0.032235,-0.653846,-0.057423,-0.037738,-0.024497,0.000000,0.148,0.143,6.575,0.736,2.946,0.214,2.957,0.131,5.596,0.036,0.022,0.040,2.980,1.425,1.240,-0.086420,0.311927,0.005352,0.127106,-0.112383,-0.093220,0.041931,-0.022388,0.056048,0.000000,-0.083333,0.142857,-0.016177,-0.006969,-0.140083,-0.678878,-0.007865
5140,126296,2005-09-30,EXPE,-0.815971,-0.003120,0.095238,-0.049020,0.023559,0.053416,0.570896,0.051,0.029,69.139,NaN,9.841,0.046,0.000,0.778,3.422,0.174,0.120,NaN,0.231,1.629,1.288,0.243902,0.115385,0.173717,0.000000,0.320408,0.210526,NaN,0.030464,23.269504,0.000000,0.061947,0.000000,0.121359,-0.217955,0.866667,-0.647992,0.193637
14560,11399,1997-12-31,WDC,-0.142446,0.040501,-3.477612,0.035953,0.023707,-0.110626,0.773503,0.271,0.142,21.726,NaN,14.697,0.448,0.000,0.168,7.159,0.040,0.021,NaN,1.177,1.482,2.774,-0.202941,-0.731061,2.417112,0.000000,0.850076,-0.280899,NaN,-0.040000,0.055122,-0.523810,-0.691176,0.000000,0.010300,-0.023715,0.164079,-0.624438,-0.037697
13644,184996,2022-12-31,TSLA,0.136899,0.077662,0.126316,0.085246,0.094229,0.133495,0.350236,0.243,0.335,56.826,NaN,44.206,0.309,0.327,0.302,22.521,0.201,0.154,0.274,0.815,1.532,14.533,-0.039526,-0.042857,-0.056313,0.000000,0.152639,-0.009615,-0.258503,-0.038217,-0.615630,0.015152,0.033557,-0.399123,-0.086323,0.088068,-0.057523,-0.606413,0.613930
3848,7241,1972-06-30,CVS,0.000000,0.000000,-0.080000,0.000000,0.000000,0.132416,0.000000,0.295,0.263,30.930,1.250,30.390,0.407,0.622,0.433,14.027,0.062,0.046,2.440,0.839,2.790,7.278,0.000000,-0.029520,0.005821,-0.015748,0.711149,0.000000,0.000000,0.000000,0.000000,0.000000,-0.021277,0.067834,-0.037844,0.000000,-0.013955,-0.605658,-0.023056
4685,138743,2001-03-31,EQIX,0.182258,0.047083,-0.052632,-0.241637,0.331567,0.565860,-0.906432,-0.171,-0.364,-9.391,NaN,-0.866,-0.278,-2.203,-0.571,-5.334,-4.692,-5.622,NaN,0.966,2.997,0.307,-0.070652,-0.415730,7.711503,0.000000,-0.796091,0.010909,0.032818,-0.522575,-0.077482,-0.367314,-0.389112,0.000000,0.175182,0.401777,-0.601816,-0.593137,-0.199234
4689,138743,2002-03-31,EQIX,-0.279593,-0.030748,-0.529412,-0.323375,-0.122234,0.154128,-0.972233,-0.055,-0.599,-7.323,NaN,-0.859,-0.146,-8.809,0.359,-11.959,-1.434,-2.263,NaN,1.618,2.262,0.215,-0.395604,-0.079877,13.001912,0.000000,-0.441482,-0.258883,0.640104,0.250871,0.266575,-0.308916,-0.238304,0.000000,-0.113910,0.387730,-0.586538,-0.581417,-0.555590
1099,1161,1974-12-31,AMD,0.000000,0.000000,0.000000,0.000000,0.000000,0.017677,NaN,0.297,0.234,6.250,NaN,22.572,0.372,0.064,0.423,6.238,0.119,-0.006,NaN,2.644,1.566,1.208,0.000000,0.000000,1.450020,0.000000,1.318168,0.000000,0.000000,0.000000,0.000000,0.000000,-1.193548,0.000000,0.000000,0.000000,1.318618,-0.579005,3.184130
9102,7065,1980-12-31,MMC,-0.095860,-0.036634,-0.574324,-0.204373,-0.123133,-0.012699,0.000000,0.241,0.243,10.657,6.020,25.439,0.277,1.803,0.259,9.006,0.173,0.149,0.687,0.911,1.649,2.195,-0.417874,-0.276786,0.082918,0.036145,0.952491,-0.495446,2.135652,-0.026316,0.416483,0.023669,-0.013245,0.172355,0.359701,-0.106717,0.400766,-0.578435,0.096414
11798,24800,2000-06-30,QCOM,-0.066029,0.123522,-0.240000,-0.123412,-0.136321,-0.019540,0.248584,0.237,0.199,35.117,NaN,75.621,0.237,0.265,0.503,70.533,0.238,0.184,0.130,0.227,3.901,7.727,-0.147482,-0.213439,-0.206395,0.000000,-0.239585,-0.228013,-0.423913,0.088745,0.025100,0.286486,0.260274,-0.212121,-0.391421,0.177483,-0.142397,-0.568810,0.199936
1207,1161,2001-09-30,AMD,-0.059233,0.018092,-11.800000,0.087980,0.038298,-0.222675,0.434265,0.152,0.038,34.769,NaN,15.030,0.055,1.386,0.520,8.713,0.184,0.032,NaN,0.684,2.263,1.222,-0.333333,-0.842324,4.490998,0.000000,0.670928,-0.628378,0.360157,-0.061372,0.239050,-0.386667,-0.806061,0.000000,-0.086782,-0.027921,0.043553,-0.566191,0.840548
423,12540,1996-02-29,ADBE,0.029090,0.115403,-3.750000,0.022274,0.022274,-0.036012,-0.692524,0.296,0.152,36.134,0.465,16.499,0.293,0.000,0.290,15.661,0.196,0.119,0.402,0.249,3.960,4.280,-0.042071,-0.061728,0.339090,-0.209184,0.179258,-0.081505,NaN,-0.052288,-0.257280,-0.029703,-0.032520,4.432432,-0.067416,0.065089,0.206994,-0.562536,0.063411
11938,23812,2003-03-31,REGN,0.190621,-0.121482,-0.160494,0.479785,0.078312,1.020562,-0.417981,-0.271,-0.661,-4.689,NaN,-7.342,-0.317,-1.717,-4.324,-6.872,-4.460,-4.792,-0.062,1.383,8.008,3.692,0.058594,0.096186,-0.276501,0.000000,0.059910,0.056667,-0.026092,-0.162340,-0.234573,-0.154021,-0.152908,-0.261905,-0.177765,0.160075,-0.296092,-0.557771,0.946814

In [1042]:
train_start_date = '1970-01-31'
valid_start_date = '2010-01-31'
test_start_date = '2012-01-31'

train_df = df[(df['datadate'] >= train_start_date) & (df['datadate'] < valid_start_date)]
valid_df = df[(df['datadate'] >= valid_start_date) & (df['datadate'] < test_start_date)]
test_df = df[(df['datadate'] >= test_start_date)]