In [425]:
import os
import numpy as np
import pandas as pd

In [426]:

file_path_1 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/COMPUSTAT_ALL.csv' # Fundamental data
df1 = pd.read_csv(file_path_1)
df1['datadate'] = pd.to_datetime(df1['datadate'])
df1 = df1.sort_values(by=['tic', 'datadate'])

df1.info()

/var/folders/2f/bmcm36r135v_v27k0vz0w_dr0000gn/T/ipykernel_3303/554828581.py:2: DtypeWarning: Columns (10,17,26,650,657,668,669,679) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(file_path_1)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17770 entries, 1237 to 15084
Columns: 680 entries, gvkey to ipodate
dtypes: datetime64[ns](1), float64(622), int64(16), object(41)
memory usage: 92.3+ MB

In [427]:
df1 = df1[['gvkey', 'datadate', 'tic', 'actq', 'ancq', 'epsfxq', 'lctq', 'ltq', 'revtq', 'ugiq', 'capxy', 'prccq', 'ajexq']]

df1['prccq'] = df1['prccq'] / df1['ajexq']
df1 = df1.drop(columns=['ajexq'])

df1.head()

,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,ugiq,capxy,prccq
1237,1690,1979-12-31,AAPL,23.052,1.584,0.06,11.689,12.262,19.540,NaN,NaN,NaN
1238,1690,1980-03-31,AAPL,28.367,1.986,0.06,14.244,14.632,23.550,NaN,NaN,NaN
1239,1690,1980-06-30,AAPL,37.930,3.777,0.06,20.976,21.926,32.569,NaN,NaN,NaN
1240,1690,1980-09-30,AAPL,54.106,11.244,0.07,37.780,39.401,41.467,NaN,NaN,NaN
1241,1690,1980-12-31,AAPL,145.720,16.402,0.14,28.866,31.117,67.621,NaN,NaN,0.152344

In [428]:
file_path_2 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/RATIOS_FIRM_ALL.csv' # Financial ratios data
df2 = pd.read_csv(file_path_2)
df2['qdate'] = pd.to_datetime(df2['qdate'])
df2['public_date'] = pd.to_datetime(df2['public_date'])

# Sort by qdate and public_date to ensure the most recent public_date comes last
df2 = df2.sort_values(by=['qdate', 'public_date'])
# Drop duplicates to keep only the first public_date for each qdate
df2 = df2.drop_duplicates(subset=['qdate','TICKER'], keep='first')

df2 = df2[[
    'gvkey', 'qdate', 'roa',
    'roe','pe_inc', 'divyield',
    'pcf', 'roce', 'fcf_ocf',
    'debt_ebitda', 'gpm', 'opmad',
    'evm', 'intcov_ratio', 'at_turn',
    'cfm', 'npm', 'PEG_trailing',
    'de_ratio', 'curr_ratio', 'ptb'
]]

# convert divyield to float
df2['divyield'] = df2['divyield'].replace('%', '', regex=True).astype(float)

df2 = df2.sort_values(by=['qdate'])

df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18469 entries, 0 to 35663
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gvkey         18469 non-null  int64
 1   qdate         18453 non-null  datetime64[ns]
 2   roa           18376 non-null  float64
 3   roe           18093 non-null  float64
 4   pe_inc        17597 non-null  float64
 5   divyield      13916 non-null  float64
 6   pcf           18370 non-null  float64
 7   roce          18127 non-null  float64
 8   fcf_ocf       16372 non-null  float64
 9   debt_ebitda   18259 non-null  float64
 10  gpm           18432 non-null  float64
 11  opmad         18434 non-null  float64
 12  evm           18360 non-null  float64
 13  intcov_ratio  16901 non-null  float64
 14  at_turn       18389 non-null  float64
 15  cfm           17814 non-null  float64
 16  npm           18435 non-null  float64
 17  PEG_trailing  12275 non-null  float64
 18  de_ratio      18430 non-null  float64
 19  curr_ratio    15980 non-null  float64
 20  ptb           18164 non-null  float64
dtypes: datetime64[ns](1), float64(19), int64(1)
memory usage: 3.1 MB

In [429]:
df = pd.merge(df1, df2, left_on=['datadate', 'gvkey'], right_on=['qdate', 'gvkey'], how='inner')

columns_to_keep = [
    'gvkey', 'datadate', 'tic',
    'actq', 'ancq', 'epsfxq',
    'lctq', 'ltq', 'revtq',
    'capxy', 'prccq', 'roa',
    'roe','pe_inc', 'divyield',
    'pcf', 'roce', 'debt_ebitda',
    'gpm', 'evm', 'cfm', 'npm',
    'PEG_trailing', 'de_ratio',
    'curr_ratio', 'ptb',
]

df = df[columns_to_keep]

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15304 entries, 0 to 15303
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gvkey         15304 non-null  int64
 1   datadate      15304 non-null  datetime64[ns]
 2   tic           15304 non-null  object
 3   actq          12524 non-null  float64
 4   ancq          12146 non-null  float64
 5   epsfxq        15189 non-null  float64
 6   lctq          12527 non-null  float64
 7   ltq           14527 non-null  float64
 8   revtq         14857 non-null  float64
 9   capxy         12219 non-null  float64
 10  prccq         15287 non-null  float64
 11  roa           15252 non-null  float64
 12  roe           15050 non-null  float64
 13  pe_inc        14571 non-null  float64
 14  divyield      11922 non-null  float64
 15  pcf           15247 non-null  float64
 16  roce          15133 non-null  float64
 17  debt_ebitda   15128 non-null  float64
 18  gpm           15284 non-null  float64
 19  evm           15209 non-null  float64
 20  cfm           14974 non-null  float64
 21  npm           15285 non-null  float64
 22  PEG_trailing  10504 non-null  float64
 23  de_ratio      15280 non-null  float64
 24  curr_ratio    13305 non-null  float64
 25  ptb           15099 non-null  float64
dtypes: datetime64[ns](1), float64(23), int64(1), object(1)
memory usage: 3.2+ MB

In [430]:
df = df.sort_values(by=['tic','datadate'])

df.tail()

,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,capxy,...,roce,debt_ebitda,gpm,evm,cfm,npm,PEG_trailing,de_ratio,curr_ratio,ptb
15299,13721,2022-09-30,ZTS,6551.0,7123.0,1.13,2880.0,9012.0,2003.0,415.0,...,0.252,2.027,0.742,28.597,0.315,0.258,2.637,1.993,2.506,14.605
15300,13721,2022-12-31,ZTS,7506.0,7419.0,0.99,3167.0,10522.0,2041.0,586.0,...,0.246,2.389,0.736,22.351,0.319,0.262,2.791,2.389,2.370,17.019
15301,13721,2023-03-31,ZTS,6269.0,7485.0,1.19,1915.0,9263.0,2034.0,223.0,...,0.249,2.097,0.737,23.885,0.312,0.255,3.695,2.094,2.450,16.287
15302,13721,2023-06-30,ZTS,6183.0,7566.0,1.45,1769.0,9128.0,2181.0,389.0,...,0.259,2.033,0.743,23.067,0.325,0.268,3.257,2.085,2.724,18.478
15303,13721,2023-09-30,ZTS,6222.0,7884.0,1.29,1608.0,9032.0,2152.0,534.0,...,0.265,1.986,0.744,23.285,0.328,0.271,2.875,2.040,3.095,15.485

In [431]:
file_path_3 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/s&p500index.csv' # s&p500
df3 = pd.read_csv(file_path_3)
df3['caldt'] = pd.to_datetime(df3['caldt'])  # Adjust column name if needed

df = df.sort_values(by=['datadate'])


#merge (fill empty cells with nearest s&p500 value)
df = pd.merge_asof(df, df3, left_on='datadate', right_on='caldt', direction='nearest')
df = df.drop(columns=['caldt'])

df = df.sort_values(by=['tic','datadate']).reset_index()
df.tail()

,index,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,...,debt_ebitda,gpm,evm,cfm,npm,PEG_trailing,de_ratio,curr_ratio,ptb,spindx
15299,14925,13721,2022-09-30,ZTS,6551.0,7123.0,1.13,2880.0,9012.0,2003.0,...,2.027,0.742,28.597,0.315,0.258,2.637,1.993,2.506,14.605,3585.62
15300,14977,13721,2022-12-31,ZTS,7506.0,7419.0,0.99,3167.0,10522.0,2041.0,...,2.389,0.736,22.351,0.319,0.262,2.791,2.389,2.370,17.019,3839.50
15301,15059,13721,2023-03-31,ZTS,6269.0,7485.0,1.19,1915.0,9263.0,2034.0,...,2.097,0.737,23.885,0.312,0.255,3.695,2.094,2.450,16.287,4109.31
15302,15171,13721,2023-06-30,ZTS,6183.0,7566.0,1.45,1769.0,9128.0,2181.0,...,2.033,0.743,23.067,0.325,0.268,3.257,2.085,2.724,18.478,4450.38
15303,15298,13721,2023-09-30,ZTS,6222.0,7884.0,1.29,1608.0,9032.0,2152.0,...,1.986,0.744,23.285,0.328,0.271,2.875,2.040,3.095,15.485,4288.05

In [432]:


# convert features to pct

features = [
    'actq', 'ancq', 'epsfxq',
    'lctq', 'ltq', 'revtq',
    'capxy']

ratios = [
    'roa', 'roe','pe_inc', 'divyield',
    'pcf', 'roce',
    'debt_ebitda', 'gpm','evm',
    'cfm', 'npm', 'PEG_trailing',
    'de_ratio', 'curr_ratio', 'ptb']

df[features] = df[features].pct_change()

for col in ratios:
    df[col + '_change'] = df.groupby('tic')[col].pct_change()


df['prccq_change'] = df.groupby('tic')['prccq'].pct_change()
df['next_prccq_change'] = df.groupby('tic')['prccq_change'].shift(-1)

df['spindx_change'] = df.groupby('tic')['spindx'].pct_change()
df['next_spindx_change'] = df.groupby('tic')['spindx_change'].shift(-1)

df['relative_quarterly_return'] = (df['prccq_change'] - df['spindx_change'])

#context returns
#df['relative_quarterly_return_-1'] = df.groupby('tic')['relative_quarterly_return'].shift(1)
#df['relative_quarterly_return_-2'] = df.groupby('tic')['relative_quarterly_return'].shift(2)
#df['relative_quarterly_return_-3'] = df.groupby('tic')['relative_quarterly_return'].shift(3)

df['next_relative_quarterly_return'] = (df['next_prccq_change'] - df['next_spindx_change'])

#df = df.drop(columns=['prccq', 'spindx'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 49 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   index                           15304 non-null  int64
 1   gvkey                           15304 non-null  int64
 2   datadate                        15304 non-null  datetime64[ns]
 3   tic                             15304 non-null  object
 4   actq                            15303 non-null  float64
 5   ancq                            15303 non-null  float64
 6   epsfxq                          15302 non-null  float64
 7   lctq                            15303 non-null  float64
 8   ltq                             15303 non-null  float64
 9   revtq                           15303 non-null  float64
 10  capxy                           14744 non-null  float64
 11  prccq                           15287 non-null  float64
 12  roa                             15252 non-null  float64
 13  roe                             15050 non-null  float64
 14  pe_inc                          14571 non-null  float64
 15  divyield                        11922 non-null  float64
 16  pcf                             15247 non-null  float64
 17  roce                            15133 non-null  float64
 18  debt_ebitda                     15128 non-null  float64
 19  gpm                             15284 non-null  float64
 20  evm                             15209 non-null  float64
 21  cfm                             14974 non-null  float64
 22  npm                             15285 non-null  float64
 23  PEG_trailing                    10504 non-null  float64
 24  de_ratio                        15280 non-null  float64
 25  curr_ratio                      13305 non-null  float64
 26  ptb                             15099 non-null  float64
 27  spindx                          15304 non-null  float64
 28  roa_change                      15186 non-null  float64
 29  roe_change                      15179 non-null  float64
 30  pe_inc_change                   14536 non-null  float64
 31  divyield_change                 12319 non-null  float64
 32  pcf_change                      15180 non-null  float64
 33  roce_change                     15135 non-null  float64
 34  debt_ebitda_change              14724 non-null  float64
 35  gpm_change                      15201 non-null  float64
 36  evm_change                      15201 non-null  float64
 37  cfm_change                      14926 non-null  float64
 38  npm_change                      15201 non-null  float64
 39  PEG_trailing_change             13852 non-null  float64
 40  de_ratio_change                 15201 non-null  float64
 41  curr_ratio_change               13679 non-null  float64
 42  ptb_change                      15206 non-null  float64
 43  prccq_change                    15196 non-null  float64
 44  next_prccq_change               15196 non-null  float64
 45  spindx_change                   15212 non-null  float64
 46  next_spindx_change              15212 non-null  float64
 47  relative_quarterly_return       15196 non-null  float64
 48  next_relative_quarterly_return  15196 non-null  float64
dtypes: datetime64[ns](1), float64(45), int64(2), object(1)
memory usage: 5.7+ MB

In [433]:
df = df.sort_values(by=['tic','datadate'])
df.replace(['inf', '-inf', np.inf, -np.inf], np.nan, inplace=True)
df.tail()

,index,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,...,PEG_trailing_change,de_ratio_change,curr_ratio_change,ptb_change,prccq_change,next_prccq_change,spindx_change,next_spindx_change,relative_quarterly_return,next_relative_quarterly_return
15299,14925,13721,2022-09-30,ZTS,-0.015035,0.000562,0.008929,-0.056047,-0.019369,-0.024355,...,0.188909,0.000502,-0.134967,-0.032525,-0.137297,-0.011734,-0.052771,0.070805,-0.084526,-0.082539
15300,14977,13721,2022-12-31,ZTS,0.145779,0.041556,-0.123894,0.099653,0.167554,0.018972,...,0.058400,0.198695,-0.054270,0.165286,-0.011734,0.135722,0.070805,0.070272,-0.082539,0.065449
15301,15059,13721,2023-03-31,ZTS,-0.164801,0.008896,0.202020,-0.395327,-0.119654,-0.003430,...,0.323898,-0.123483,0.033755,-0.043011,0.135722,0.034667,0.070272,0.082999,0.065449,-0.048332
15302,15171,13721,2023-06-30,ZTS,-0.013718,0.010822,0.218487,-0.076240,-0.014574,0.072271,...,-0.118539,-0.004298,0.111837,0.134524,0.034667,0.010278,0.082999,-0.036476,-0.048332,0.046754
15303,15298,13721,2023-09-30,ZTS,0.006308,0.042030,-0.110345,-0.091012,-0.010517,-0.013297,...,-0.117286,-0.021583,0.136197,-0.161976,0.010278,NaN,-0.036476,NaN,0.046754,NaN

In [434]:
file_path_4 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/context/cay_data.csv' # 
file_path_5 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/context/fama_french_5_factors_plus_momentum.csv' # 
file_path_6 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/context/financial_uncertainty_index.csv' # 
file_path_7 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/context/macro_uncertaintly_index.csv' # 
file_path_8 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/context/q-factors.csv' # 

df4 = pd.read_csv(file_path_4)
df5 = pd.read_csv(file_path_5)
df6 = pd.read_csv(file_path_6)
df7 = pd.read_csv(file_path_7)
df8 = pd.read_csv(file_path_8)


df4['date'] = pd.to_datetime(df4['date'])
df5['dateff'] = pd.to_datetime(df5['dateff'])
df6['date'] = pd.to_datetime(df6['date'])
df7['date'] = pd.to_datetime(df7['date'])
# Convert year and quarter to quarter-end datetime
df8['date'] = pd.to_datetime(df8['year'].astype(str) + 'Q' + df8['quarter'].astype(str)) + pd.offsets.QuarterEnd(0)
df8.drop(['year', 'quarter'], axis=1, inplace=True)
df8['date'] = pd.to_datetime(df8['date'])

df5.rename(columns={'dateff': 'date'}, inplace=True)

# Standardize to month end
for i in [df4, df5, df6, df7]:
    i['date'] = i['date'].dt.to_period('M').dt.to_timestamp('M')

df_context = df4.merge(df5, on='date', how='outer') \
               .merge(df6, on='date', how='outer') \
               .merge(df7, on='date', how='outer') \
               .merge(df8, on='date', how='outer') \
               .sort_values('date').reset_index(drop=True)

df_context = df_context.drop(columns=['c', 'a', 'y', 'cay'])

df_context.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810 entries, 0 to 809
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    810 non-null    datetime64[ns]
 1   mktrf   738 non-null    float64
 2   smb     738 non-null    float64
 3   hml     738 non-null    float64
 4   rmw     738 non-null    float64
 5   cma     738 non-null    float64
 6   rf      738 non-null    float64
 7   umd     738 non-null    float64
 8   h_1_x   714 non-null    float64
 9   h_3_x   714 non-null    float64
 10  h_12_x  714 non-null    float64
 11  h_1_y   714 non-null    float64
 12  h_3_y   714 non-null    float64
 13  h_12_y  714 non-null    float64
 14  r_f     212 non-null    float64
 15  r_mkt   212 non-null    float64
 16  r_me    212 non-null    float64
 17  r_ia    212 non-null    float64
 18  r_roe   212 non-null    float64
 19  r_eg    212 non-null    float64
dtypes: datetime64[ns](1), float64(19)
memory usage: 126.7 KB

In [435]:
#df_context.to_csv('context.csv', index=False)

In [436]:
# Replace inf and -inf with NaN
df_context.replace(['inf', '-inf', np.inf, -np.inf], np.nan, inplace=True)

df_context = df_context.dropna()
df_context.head()

,date,mktrf,smb,hml,rmw,cma,rf,umd,h_1_x,h_3_x,h_12_x,h_1_y,h_3_y,h_12_y,r_f,r_mkt,r_me,r_ia,r_roe,r_eg
116,1967-03-31,0.0399,0.0187,0.0037,0.0086,-0.0160,0.0039,0.0153,0.918090,0.952662,0.982072,0.616383,0.739871,0.865610,1.1406,13.3616,11.4466,-5.3001,8.4933,-1.1459
119,1967-06-30,0.0241,0.0643,0.0085,-0.0062,-0.0242,0.0027,0.0600,0.895576,0.934862,0.976690,0.614591,0.741683,0.869119,0.9172,1.8431,8.7787,-2.4629,2.0749,-2.4294
122,1967-09-30,0.0311,0.0244,-0.0250,0.0020,-0.0095,0.0032,0.0252,0.871980,0.918416,0.973204,0.627504,0.754038,0.878176,0.9601,6.8744,5.3219,3.9620,-0.7878,-0.7295
125,1967-12-31,0.0305,0.0575,-0.0053,-0.0081,0.0013,0.0033,0.0325,0.896381,0.937069,0.979059,0.655009,0.777824,0.890536,1.0668,0.2618,5.3799,-5.0151,5.1894,1.8397
128,1968-03-31,0.0020,-0.0159,-0.0059,0.0105,-0.0110,0.0038,0.0323,0.934794,0.966593,0.988554,0.627678,0.755234,0.877596,1.1806,-7.5774,1.5096,6.1718,-1.4313,5.5496

In [437]:
file_path_9 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/RATIOS_INDUSTRY_ALL.csv' # Fundamental data
df9 = pd.read_csv(file_path_9)
df9.rename(columns={'public_date': 'date'}, inplace=True)
df9['date'] = pd.to_datetime(df9['date'])

selected_columns = [
    'date', 'indret_ew', 'CAPEI_Median',
    'bm_Median', 'evm_Median', 'pe_op_basic_Median', 'pe_inc_Median', 'ptb_Median', 
    'PEG_trailing_Median', 'divyield_Median', 'roa_Median', 'roce_Median', 'roe_Median', 
    'gpm_Median', 'npm_Median', 'opmad_Median', 'de_ratio_Median', 'debt_ebitda_Median', 
    'debt_assets_Median', 'intcov_ratio_Median', 'cash_ratio_Median', 'curr_ratio_Median', 
    'quick_ratio_Median', 'at_turn_Median', 'inv_turn_Median', 'rect_turn_Median', 'FFI10_desc'
]

df9 = df9[selected_columns]

df9 = df9.dropna(axis=1)

df_context = df_context.merge(df9, on='date', how='inner')

df_context.tail(25)

,date,mktrf,smb,hml,rmw,cma,rf,umd,h_1_x,h_3_x,...,debt_ebitda_Median,debt_assets_Median,intcov_ratio_Median,cash_ratio_Median,curr_ratio_Median,quick_ratio_Median,at_turn_Median,inv_turn_Median,rect_turn_Median,FFI10_desc
1975,2019-06-30,0.0693,0.0037,-0.0070,0.0090,-0.0044,0.0018,-0.0225,1.003838,1.019318,...,2.220,0.537,5.329,0.276,1.842,1.143,1.036,4.347,8.945,NODUR
1976,2019-06-30,0.0693,0.0037,-0.0070,0.0090,-0.0044,0.0018,-0.0225,1.003838,1.019318,...,2.606,0.793,3.834,0.476,1.505,1.340,0.207,5.974,1.781,OTHER
1977,2019-06-30,0.0693,0.0037,-0.0070,0.0090,-0.0044,0.0018,-0.0225,1.003838,1.019318,...,2.405,0.624,4.296,0.172,1.574,0.792,1.728,5.601,26.354,SHOPS
1978,2019-06-30,0.0693,0.0037,-0.0070,0.0090,-0.0044,0.0018,-0.0225,1.003838,1.019318,...,3.422,0.676,2.036,0.422,1.438,1.249,0.461,15.667,6.451,TELCM
1979,2019-06-30,0.0693,0.0037,-0.0070,0.0090,-0.0044,0.0018,-0.0225,1.003838,1.019318,...,4.344,0.685,2.939,0.063,0.675,0.536,0.236,15.419,8.442,UTILS
1980,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,1.617,0.579,4.362,0.334,1.960,1.219,1.113,5.194,5.778,DURBL
1981,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,1.721,0.491,2.859,0.257,1.255,0.978,0.414,17.196,6.627,ENRGY
1982,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,0.617,0.498,2.331,0.869,1.909,1.633,0.680,4.439,5.574,HITEC
1983,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,-0.043,0.348,-10.168,3.729,4.469,4.207,0.352,2.899,5.816,HLTH
1984,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,2.121,0.574,5.218,0.316,2.104,1.247,0.873,4.059,6.254,MANUF
1985,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,2.256,0.536,5.009,0.259,1.791,1.090,0.985,4.227,8.794,NODUR
1986,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,2.557,0.794,3.797,0.479,1.497,1.327,0.201,6.451,1.781,OTHER
1987,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,2.894,0.647,4.137,0.168,1.500,0.733,1.619,5.487,27.559,SHOPS
1988,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,3.690,0.686,1.842,0.412,1.362,1.169,0.439,16.397,6.142,TELCM
1989,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,4.479,0.682,2.934,0.069,0.674,0.558,0.229,14.912,8.231,UTILS
1990,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,1.883,0.595,4.596,0.327,1.921,1.215,1.108,5.177,6.003,DURBL
1991,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,1.743,0.487,1.897,0.262,1.282,1.026,0.419,16.481,6.825,ENRGY
1992,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,0.802,0.505,1.985,0.879,1.966,1.624,0.655,4.305,5.493,HITEC
1993,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,-0.055,0.363,-9.548,3.552,4.408,4.186,0.359,2.823,5.756,HLTH
1994,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,2.156,0.569,4.949,0.313,2.071,1.235,0.853,4.204,6.236,MANUF
1995,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,2.382,0.537,4.868,0.282,1.831,1.071,0.957,4.250,8.954,NODUR
1996,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753,OTHER
1997,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,3.270,0.672,3.995,0.171,1.465,0.692,1.478,5.575,28.254,SHOPS
1998,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,3.664,0.691,1.712,0.405,1.405,1.117,0.434,16.218,6.375,TELCM
1999,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,4.611,0.682,2.841,0.071,0.702,0.552,0.228,13.643,8.616,UTILS

In [438]:
df = df.sort_values(by=['datadate'])

# Corrected industry mapping
ticker_to_industry = {
    # Durable Goods (DURBL)
    'TSLA': 'DURBL', 'F': 'DURBL',

    # Energy (ENRGY)
    'XOM': 'ENRGY', 'CVX': 'ENRGY', 'COP': 'ENRGY', 'OXY': 'ENRGY',

    # High-Tech (HITEC)
    'AAPL': 'HITEC', 'MSFT': 'HITEC', 'GOOGL': 'HITEC', 'AMZN': 'HITEC', 'META': 'HITEC',
    'NVDA': 'HITEC', 'INTC': 'HITEC', 'CSCO': 'HITEC', 'QCOM': 'HITEC', 'ADBE': 'HITEC', 
    'PYPL': 'HITEC', 'NFLX': 'HITEC', 'MU': 'HITEC', 'WDC': 'HITEC', 'CTSH': 'HITEC', 'EXPE': 'HITEC',

    # Healthcare (HLTH)
    'JNJ': 'HLTH', 'PFE': 'HLTH', 'MRK': 'HLTH', 'ABT': 'HLTH', 'LLY': 'HLTH', 
    'BMY': 'HLTH', 'MDT': 'HLTH', 'HCA': 'HLTH', 'ZTS': 'HLTH', 'AMGN': 'HLTH', 'REGN': 'HLTH',

    # Manufacturing (MANUF)
    'BA': 'MANUF', 'RTX': 'MANUF', 'LMT': 'MANUF', 'GE': 'MANUF', 'CAT': 'MANUF', 
    'MMM': 'MANUF', 'ETN': 'MANUF', 'JCI': 'MANUF', 'NOC': 'MANUF', 'TMO': 'MANUF',

    # Non-Durable Goods (NODUR) - (Moved NKE here)
    'PG': 'NODUR', 'KO': 'NODUR', 'CL': 'NODUR', 'WBA': 'NODUR', 'CVS': 'NODUR', 
    'PPL': 'NODUR', 'TGT': 'NODUR', 'STZ': 'NODUR', 'NKE': 'NODUR',

    # Other (OTHER)
    'BRK.B': 'OTHER', 'JPM': 'OTHER', 'GS': 'OTHER', 'WFC': 'OTHER', 'SPGI': 'OTHER',
    'SCHW': 'OTHER', 'MMC': 'OTHER', 'AIG': 'OTHER', 'AON': 'OTHER', 'PGR': 'OTHER', 
    'CME': 'OTHER', 'RJF': 'OTHER', 'ADM': 'OTHER', 'APD': 'OTHER', 'EQIX': 'OTHER',

    # Shops (SHOPS)
    'WMT': 'SHOPS', 'MCD': 'SHOPS', 'SBUX': 'SHOPS', 'TGT': 'SHOPS', 'COST': 'SHOPS', 
    'DIS': 'SHOPS', 'TSN': 'SHOPS',

    # Telecom (TELCM)
    'T': 'TELCM', 'VZ': 'TELCM',

    # Utilities (UTILS)
    'EXC': 'UTILS', 'ECL': 'UTILS',
}

# Add industry column to DataFrame
df['FFI10_desc'] = df['tic'].map(ticker_to_industry)

# Assign 'OTHER' to any tickers not in the dictionary
df['FFI10_desc'] = df['FFI10_desc'].fillna('OTHER')

df_context.rename(columns={'date': 'datadate'}, inplace=True)

df = pd.merge(df, df_context, on=['datadate', 'FFI10_desc'], how='inner')

df = df.sort_values(by=['tic','datadate'])

df.tail(30)

,index,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,...,de_ratio_Median,debt_ebitda_Median,debt_assets_Median,intcov_ratio_Median,cash_ratio_Median,curr_ratio_Median,quick_ratio_Median,at_turn_Median,inv_turn_Median,rect_turn_Median
11754,13945,4503,2019-12-31,XOM,0.000880,0.010318,0.773333,-0.003209,0.008672,-0.006275,...,0.913,1.743,0.487,1.897,0.262,1.282,1.026,0.419,16.481,6.825
9713,11546,13721,2012-12-31,ZTS,-0.971683,-0.987467,-1.008889,-0.984224,-0.986517,-0.986632,...,0.508,0.000,0.366,-0.553,2.220,3.450,3.136,0.615,3.096,6.441
9814,11641,13721,2013-03-31,ZTS,0.027235,-0.058270,-15.000000,0.146037,1.439442,-0.072635,...,0.502,0.000,0.373,0.737,2.225,3.458,3.022,0.602,2.994,6.400
9831,11684,13721,2013-06-30,ZTS,0.047587,-0.006563,-0.071429,0.026418,0.003691,0.019126,...,0.550,0.000,0.385,-1.096,2.254,3.611,3.167,0.579,3.093,6.410
9944,11796,13721,2013-09-30,ZTS,0.000324,-0.000944,0.000000,-0.009841,-0.008275,-0.007149,...,0.486,0.000,0.385,-1.803,2.368,3.593,3.131,0.568,3.042,6.269
10004,11861,13721,2013-12-31,ZTS,0.088874,0.007872,-0.192308,0.081804,0.037641,0.130513,...,0.480,0.000,0.382,-2.992,2.279,3.657,3.163,0.543,3.140,6.403
10108,11960,13721,2014-03-31,ZTS,-0.040214,-0.006248,0.476190,-0.203534,-0.052180,-0.120223,...,0.419,0.000,0.344,-3.258,2.569,3.893,3.406,0.525,2.848,6.436
10162,12076,13721,2014-06-30,ZTS,0.032588,0.004401,-0.129032,-0.058563,-0.012255,0.053394,...,0.400,0.000,0.340,-5.046,2.841,4.039,3.660,0.498,3.026,6.329
10265,12189,13721,2014-09-30,ZTS,0.007815,-0.006573,0.222222,-0.059378,-0.019278,0.045533,...,0.404,0.000,0.332,-5.341,2.953,4.212,3.699,0.502,2.967,6.420
10326,12277,13721,2014-12-31,ZTS,0.033403,-0.010082,-0.242424,0.088176,0.025691,0.093673,...,0.392,0.000,0.323,-5.487,3.085,4.378,3.904,0.502,2.961,6.324
10414,12361,13721,2015-03-31,ZTS,-0.102453,0.056652,0.320000,0.261510,-0.027514,-0.166792,...,0.376,0.000,0.328,-6.788,3.196,4.566,4.090,0.513,2.898,6.499
10476,12402,13721,2015-06-30,ZTS,0.066238,-0.011446,-1.212121,0.147445,0.052878,0.065825,...,0.407,0.000,0.341,-6.845,3.435,4.709,4.279,0.468,2.955,6.433
10500,12516,13721,2015-09-30,ZTS,0.040410,-0.014016,-6.428571,0.054707,0.006672,0.031303,...,0.404,0.000,0.347,-7.188,3.358,4.480,4.091,0.428,2.936,6.475
10624,12587,13721,2015-12-31,ZTS,0.110145,0.261743,-0.894737,0.074186,0.255891,0.049221,...,0.407,0.000,0.326,-7.156,3.313,4.607,4.148,0.403,2.984,6.471
10671,12651,13721,2016-03-31,ZTS,-0.136554,0.015430,9.250000,-0.346996,-0.081501,-0.086005,...,0.394,0.000,0.336,-7.291,3.140,4.285,3.775,0.450,2.859,6.562
10777,12763,13721,2016-06-30,ZTS,0.006350,0.010613,0.097561,-0.106621,-0.018991,0.037639,...,0.398,0.000,0.333,-8.263,3.097,4.318,3.807,0.439,2.834,6.568
10848,12851,13721,2016-09-30,ZTS,0.010817,0.038425,0.066667,0.000000,-0.004880,0.029678,...,0.394,0.000,0.347,-9.187,2.986,4.056,3.663,0.416,2.830,6.425
10903,12908,13721,2016-12-31,ZTS,0.007729,-0.021145,-0.354167,0.075072,0.005395,0.030424,...,0.407,0.000,0.355,-8.903,2.899,3.880,3.461,0.420,2.844,6.271
10990,13002,13721,2017-03-31,ZTS,-0.002065,0.001644,0.548387,0.548791,-0.022114,-0.038073,...,0.457,0.000,0.389,-6.605,2.664,3.671,3.227,0.425,2.773,6.409
11054,13117,13721,2017-06-30,ZTS,0.059415,-0.011252,0.041667,0.031214,0.006984,0.029079,...,0.468,0.000,0.377,-6.628,2.778,3.702,3.324,0.412,2.783,6.131
11103,13228,13721,2017-09-30,ZTS,0.365513,0.041726,0.220000,-0.021300,0.200297,0.062794,...,0.475,0.000,0.387,-6.623,2.707,3.751,3.389,0.402,2.848,6.106
11164,13319,13721,2017-12-31,ZTS,-0.138333,-0.005690,-0.737705,-0.373425,-0.064521,0.073117,...,0.515,0.000,0.382,-7.214,2.815,3.774,3.460,0.399,2.908,6.109
11277,13386,13721,2018-03-31,ZTS,0.011857,0.012360,3.500000,-0.085923,-0.012500,-0.055058,...,0.437,0.000,0.365,-8.483,2.921,3.882,3.569,0.413,2.888,6.110
11353,13452,13721,2018-06-30,ZTS,-0.006562,-0.013339,0.097222,-0.033000,-0.013999,0.034960,...,0.462,0.000,0.376,-8.817,2.945,3.910,3.499,0.385,3.051,6.160
11439,13564,13721,2018-09-30,ZTS,-0.038452,0.462649,-0.101266,0.037229,0.259779,0.045039,...,0.433,0.000,0.359,-10.110,3.332,4.273,4.010,0.376,3.147,6.195
11479,13607,13721,2018-12-31,ZTS,0.079244,-0.000783,0.000000,0.219342,0.030092,0.059933,...,0.428,0.000,0.358,-10.471,3.425,4.300,3.979,0.352,3.182,6.097
11551,13684,13721,2019-03-31,ZTS,-0.004546,0.019755,-0.084507,-0.115290,-0.003026,-0.072427,...,0.407,0.000,0.342,-9.102,3.599,4.523,4.196,0.361,2.951,5.978
11653,13800,13721,2019-06-30,ZTS,0.023978,-0.000308,0.184615,-0.006470,0.001051,0.061644,...,0.424,-0.026,0.346,-10.030,3.588,4.513,4.194,0.350,2.998,6.020
11705,13865,13721,2019-09-30,ZTS,0.029884,0.023377,0.168831,-0.021395,0.002216,0.024516,...,0.435,-0.043,0.348,-10.168,3.729,4.469,4.207,0.352,2.899,5.816
11748,13957,13721,2019-12-31,ZTS,0.028151,0.021491,-0.111111,0.716730,0.028276,0.056675,...,0.433,-0.055,0.363,-9.548,3.552,4.408,4.186,0.359,2.823,5.756

In [439]:
#df.to_csv('dati_with_context.csv', index=False)  # Set index=False to exclude the index column