In [17]:
import os
import numpy as np
import pandas as pd

In [19]:

file_path_1 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/fundamental_all.csv' # Fundamental data
df1 = pd.read_csv(file_path_1)
df1['datadate'] = pd.to_datetime(df1['datadate'])
df1 = df1.drop(columns=['gvkey', 'fyearq', 'fqtr', 'indfmt', 'consol', 'popsrc', 'datafmt', 'curcdq', 'datacqtr', 'datafqtr'])
df1.head()

,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,ugiq,capxy,costat,prccq
0,1962-03-31,ABT,NaN,NaN,NaN,NaN,NaN,39.1,NaN,NaN,A,77.499985
1,1962-06-30,ABT,NaN,NaN,NaN,NaN,NaN,31.5,NaN,NaN,A,63.249985
2,1962-09-30,ABT,NaN,NaN,NaN,NaN,NaN,38.4,NaN,NaN,A,60.249985
3,1962-12-31,ABT,NaN,NaN,NaN,NaN,NaN,35.1,NaN,NaN,A,76.499954
4,1963-03-31,ABT,NaN,NaN,NaN,NaN,NaN,50.9,NaN,NaN,A,88.749985

In [23]:
file_path_2 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/ratios_all.csv' # Fundamental data
df2 = pd.read_csv(file_path_2)
df2['datadate'] = pd.to_datetime(df1['datadate'])
df2.head()

,permno,adate,qdate,public_date,evm,pe_exi,gpm,roe,capital_ratio,debt_ebitda,PEG_trailing,divyield,TICKER,datadate
0,10107,2009-06-30,2009-09-30,2010-01-31,9.091,18.299,0.831,0.381,0.047,0.181,2.039,1.85%,MSFT,1962-03-31
1,10107,2009-06-30,2009-12-31,2010-02-28,9.138,15.840,0.842,0.427,0.065,0.202,0.910,1.81%,MSFT,1962-06-30
2,10107,2009-06-30,2009-12-31,2010-03-31,9.138,16.181,0.842,0.427,0.065,0.202,0.930,1.78%,MSFT,1962-09-30
3,10107,2009-06-30,2009-12-31,2010-04-30,9.138,16.870,0.842,0.427,0.065,0.202,0.970,1.70%,MSFT,1962-12-31
4,10107,2009-06-30,2010-03-31,2010-05-31,9.939,13.368,0.846,0.425,0.081,0.238,1.119,2.02%,MSFT,1963-03-31