In [364]:
import os
import numpy as np
import pandas as pd

In [365]:

file_path_1 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/COMPUSTAT_ALL.csv' # Fundamental data
df1 = pd.read_csv(file_path_1)
df1['datadate'] = pd.to_datetime(df1['datadate'])
df1 = df1.sort_values(by=['tic', 'datadate'])

df1.info()

/var/folders/2f/bmcm36r135v_v27k0vz0w_dr0000gn/T/ipykernel_3303/554828581.py:2: DtypeWarning: Columns (10,17,26,650,657,668,669,679) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(file_path_1)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17770 entries, 1237 to 15084
Columns: 680 entries, gvkey to ipodate
dtypes: datetime64[ns](1), float64(622), int64(16), object(41)
memory usage: 92.3+ MB

In [366]:
df1 = df1[['gvkey', 'datadate', 'tic', 'actq', 'ancq', 'epsfxq', 'lctq', 'ltq', 'revtq', 'ugiq', 'capxy', 'prccq', 'ajexq']]

df1['prccq'] = df1['prccq'] / df1['ajexq']
df1 = df1.drop(columns=['ajexq'])

df1.head()

,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,ugiq,capxy,prccq
1237,1690,1979-12-31,AAPL,23.052,1.584,0.06,11.689,12.262,19.540,NaN,NaN,NaN
1238,1690,1980-03-31,AAPL,28.367,1.986,0.06,14.244,14.632,23.550,NaN,NaN,NaN
1239,1690,1980-06-30,AAPL,37.930,3.777,0.06,20.976,21.926,32.569,NaN,NaN,NaN
1240,1690,1980-09-30,AAPL,54.106,11.244,0.07,37.780,39.401,41.467,NaN,NaN,NaN
1241,1690,1980-12-31,AAPL,145.720,16.402,0.14,28.866,31.117,67.621,NaN,NaN,0.152344

In [367]:
file_path_2 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/RATIOS_FIRM_ALL.csv' # Financial ratios data
df2 = pd.read_csv(file_path_2)
df2['qdate'] = pd.to_datetime(df2['qdate'])
df2['public_date'] = pd.to_datetime(df2['public_date'])

# Sort by qdate and public_date to ensure the most recent public_date comes last
df2 = df2.sort_values(by=['qdate', 'public_date'])
# Drop duplicates to keep only the first public_date for each qdate
df2 = df2.drop_duplicates(subset=['qdate','TICKER'], keep='first')

df2 = df2[[
    'gvkey', 'qdate', 'roa',
    'roe','pe_inc', 'divyield',
    'pcf', 'roce', 'fcf_ocf',
    'debt_ebitda', 'gpm', 'opmad',
    'evm', 'intcov_ratio', 'at_turn',
    'cfm', 'npm', 'PEG_trailing',
    'de_ratio', 'curr_ratio', 'ptb'
]]

# convert divyield to float
df2['divyield'] = df2['divyield'].replace('%', '', regex=True).astype(float)

df2 = df2.sort_values(by=['qdate'])

df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18469 entries, 0 to 35663
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gvkey         18469 non-null  int64
 1   qdate         18453 non-null  datetime64[ns]
 2   roa           18376 non-null  float64
 3   roe           18093 non-null  float64
 4   pe_inc        17597 non-null  float64
 5   divyield      13916 non-null  float64
 6   pcf           18370 non-null  float64
 7   roce          18127 non-null  float64
 8   fcf_ocf       16372 non-null  float64
 9   debt_ebitda   18259 non-null  float64
 10  gpm           18432 non-null  float64
 11  opmad         18434 non-null  float64
 12  evm           18360 non-null  float64
 13  intcov_ratio  16901 non-null  float64
 14  at_turn       18389 non-null  float64
 15  cfm           17814 non-null  float64
 16  npm           18435 non-null  float64
 17  PEG_trailing  12275 non-null  float64
 18  de_ratio      18430 non-null  float64
 19  curr_ratio    15980 non-null  float64
 20  ptb           18164 non-null  float64
dtypes: datetime64[ns](1), float64(19), int64(1)
memory usage: 3.1 MB

In [368]:
df = pd.merge(df1, df2, left_on=['datadate', 'gvkey'], right_on=['qdate', 'gvkey'], how='inner')

columns_to_keep = [
    'gvkey', 'datadate', 'tic',
    'actq', 'ancq', 'epsfxq',
    'lctq', 'ltq', 'revtq',
    'capxy', 'prccq', 'roa',
    'roe','pe_inc', 'divyield',
    'pcf', 'roce', 'debt_ebitda',
    'gpm', 'evm', 'cfm', 'npm',
    'PEG_trailing', 'de_ratio',
    'curr_ratio', 'ptb',
]

df = df[columns_to_keep]

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15304 entries, 0 to 15303
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gvkey         15304 non-null  int64
 1   datadate      15304 non-null  datetime64[ns]
 2   tic           15304 non-null  object
 3   actq          12524 non-null  float64
 4   ancq          12146 non-null  float64
 5   epsfxq        15189 non-null  float64
 6   lctq          12527 non-null  float64
 7   ltq           14527 non-null  float64
 8   revtq         14857 non-null  float64
 9   capxy         12219 non-null  float64
 10  prccq         15287 non-null  float64
 11  roa           15252 non-null  float64
 12  roe           15050 non-null  float64
 13  pe_inc        14571 non-null  float64
 14  divyield      11922 non-null  float64
 15  pcf           15247 non-null  float64
 16  roce          15133 non-null  float64
 17  debt_ebitda   15128 non-null  float64
 18  gpm           15284 non-null  float64
 19  evm           15209 non-null  float64
 20  cfm           14974 non-null  float64
 21  npm           15285 non-null  float64
 22  PEG_trailing  10504 non-null  float64
 23  de_ratio      15280 non-null  float64
 24  curr_ratio    13305 non-null  float64
 25  ptb           15099 non-null  float64
dtypes: datetime64[ns](1), float64(23), int64(1), object(1)
memory usage: 3.2+ MB

In [369]:
df = df.sort_values(by=['tic','datadate'])

df.head()

,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,capxy,...,roce,debt_ebitda,gpm,evm,cfm,npm,PEG_trailing,de_ratio,curr_ratio,ptb
0,1690,1980-12-31,AAPL,145.720,16.402,0.14,28.866,31.117,67.621,NaN,...,1.240,0.027,0.433,13.535,0.112,0.100,NaN,0.556,2.612,11.083
1,1690,1981-03-31,AAPL,173.152,17.587,0.16,39.428,43.693,78.765,NaN,...,1.587,0.020,0.440,17.753,0.112,0.104,NaN,0.420,3.234,12.188
2,1690,1981-06-30,AAPL,201.262,21.085,0.21,49.914,58.268,90.719,NaN,...,2.136,0.028,0.463,18.791,0.112,0.115,NaN,0.368,3.681,6.507
3,1690,1981-09-30,AAPL,227.104,27.734,0.19,70.280,77.451,97.678,NaN,...,0.583,0.182,0.487,11.468,0.143,0.118,NaN,0.437,3.231,5.659
4,1690,1981-12-31,AAPL,249.160,36.026,0.24,83.952,92.894,133.553,NaN,...,0.429,0.031,0.503,14.316,0.140,0.114,NaN,0.400,3.492,5.086

In [370]:
file_path_3 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/s&p500index.csv' # s&p500
df3 = pd.read_csv(file_path_3)
df3['caldt'] = pd.to_datetime(df3['caldt'])  # Adjust column name if needed

df = df.sort_values(by=['datadate'])


#merge (fill empty cells with nearest s&p500 value)
df = pd.merge_asof(df, df3, left_on='datadate', right_on='caldt', direction='nearest')
df = df.drop(columns=['caldt'])

df = df.sort_values(by=['tic','datadate']).reset_index()
df.head()

,index,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,...,debt_ebitda,gpm,evm,cfm,npm,PEG_trailing,de_ratio,curr_ratio,ptb,spindx
0,2010,1690,1980-12-31,AAPL,145.720,16.402,0.14,28.866,31.117,67.621,...,0.027,0.433,13.535,0.112,0.100,NaN,0.556,2.612,11.083,135.76
1,2050,1690,1981-03-31,AAPL,173.152,17.587,0.16,39.428,43.693,78.765,...,0.020,0.440,17.753,0.112,0.104,NaN,0.420,3.234,12.188,136.00
2,2080,1690,1981-06-30,AAPL,201.262,21.085,0.21,49.914,58.268,90.719,...,0.028,0.463,18.791,0.112,0.115,NaN,0.368,3.681,6.507,131.21
3,2160,1690,1981-09-30,AAPL,227.104,27.734,0.19,70.280,77.451,97.678,...,0.182,0.487,11.468,0.143,0.118,NaN,0.437,3.231,5.659,116.18
4,2198,1690,1981-12-31,AAPL,249.160,36.026,0.24,83.952,92.894,133.553,...,0.031,0.503,14.316,0.140,0.114,NaN,0.400,3.492,5.086,122.55

In [371]:


# convert features to pct

features = [
    'actq', 'ancq', 'epsfxq',
    'lctq', 'ltq', 'revtq',
    'capxy']

ratios = [
    'roa', 'roe','pe_inc', 'divyield',
    'pcf', 'roce',
    'debt_ebitda', 'gpm','evm',
    'cfm', 'npm', 'PEG_trailing',
    'de_ratio', 'curr_ratio', 'ptb']

df[features] = df[features].pct_change()

for col in ratios:
    df[col + '_change'] = df.groupby('tic')[col].pct_change()


df['prccq_change'] = df.groupby('tic')['prccq'].pct_change()
df['next_prccq_change'] = df.groupby('tic')['prccq_change'].shift(-1)

df['spindx_change'] = df.groupby('tic')['spindx'].pct_change()
df['next_spindx_change'] = df.groupby('tic')['spindx_change'].shift(-1)

df['relative_quarterly_return'] = (df['prccq_change'] - df['spindx_change'])

#context returns
df['relative_quarterly_return_-1'] = df.groupby('tic')['relative_quarterly_return'].shift(1)
df['relative_quarterly_return_-2'] = df.groupby('tic')['relative_quarterly_return'].shift(2)
df['relative_quarterly_return_-3'] = df.groupby('tic')['relative_quarterly_return'].shift(3)

df['next_relative_quarterly_return'] = (df['next_prccq_change'] - df['next_spindx_change'])

#df = df.drop(columns=['prccq', 'spindx'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 52 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   index                           15304 non-null  int64
 1   gvkey                           15304 non-null  int64
 2   datadate                        15304 non-null  datetime64[ns]
 3   tic                             15304 non-null  object
 4   actq                            15303 non-null  float64
 5   ancq                            15303 non-null  float64
 6   epsfxq                          15302 non-null  float64
 7   lctq                            15303 non-null  float64
 8   ltq                             15303 non-null  float64
 9   revtq                           15303 non-null  float64
 10  capxy                           14744 non-null  float64
 11  prccq                           15287 non-null  float64
 12  roa                             15252 non-null  float64
 13  roe                             15050 non-null  float64
 14  pe_inc                          14571 non-null  float64
 15  divyield                        11922 non-null  float64
 16  pcf                             15247 non-null  float64
 17  roce                            15133 non-null  float64
 18  debt_ebitda                     15128 non-null  float64
 19  gpm                             15284 non-null  float64
 20  evm                             15209 non-null  float64
 21  cfm                             14974 non-null  float64
 22  npm                             15285 non-null  float64
 23  PEG_trailing                    10504 non-null  float64
 24  de_ratio                        15280 non-null  float64
 25  curr_ratio                      13305 non-null  float64
 26  ptb                             15099 non-null  float64
 27  spindx                          15304 non-null  float64
 28  roa_change                      15186 non-null  float64
 29  roe_change                      15179 non-null  float64
 30  pe_inc_change                   14536 non-null  float64
 31  divyield_change                 12319 non-null  float64
 32  pcf_change                      15180 non-null  float64
 33  roce_change                     15135 non-null  float64
 34  debt_ebitda_change              14724 non-null  float64
 35  gpm_change                      15201 non-null  float64
 36  evm_change                      15201 non-null  float64
 37  cfm_change                      14926 non-null  float64
 38  npm_change                      15201 non-null  float64
 39  PEG_trailing_change             13852 non-null  float64
 40  de_ratio_change                 15201 non-null  float64
 41  curr_ratio_change               13679 non-null  float64
 42  ptb_change                      15206 non-null  float64
 43  prccq_change                    15196 non-null  float64
 44  next_prccq_change               15196 non-null  float64
 45  spindx_change                   15212 non-null  float64
 46  next_spindx_change              15212 non-null  float64
 47  relative_quarterly_return       15196 non-null  float64
 48  relative_quarterly_return_-1    15104 non-null  float64
 49  relative_quarterly_return_-2    15012 non-null  float64
 50  relative_quarterly_return_-3    14920 non-null  float64
 51  next_relative_quarterly_return  15196 non-null  float64
dtypes: datetime64[ns](1), float64(48), int64(2), object(1)
memory usage: 6.1+ MB

In [372]:
df = df.sort_values(by=['tic','datadate'])
df.replace(['inf', '-inf', np.inf, -np.inf], np.nan, inplace=True)
df.head()

,index,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,...,ptb_change,prccq_change,next_prccq_change,spindx_change,next_spindx_change,relative_quarterly_return,relative_quarterly_return_-1,relative_quarterly_return_-2,relative_quarterly_return_-3,next_relative_quarterly_return
0,2010,1690,1980-12-31,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-0.282051,NaN,0.001768,NaN,NaN,NaN,NaN,-0.283819
1,2050,1690,1981-03-31,AAPL,0.188251,0.072247,0.142857,0.365898,0.404152,0.164801,...,0.099702,-0.282051,0.061225,0.001768,-0.035221,-0.283819,NaN,NaN,NaN,0.096445
2,2080,1690,1981-06-30,AAPL,0.162343,0.198897,0.312500,0.265953,0.333577,0.151768,...,-0.466114,0.061225,-0.413461,-0.035221,-0.114549,0.096445,-0.283819,NaN,NaN,-0.298912
3,2160,1690,1981-09-30,AAPL,0.128400,0.315343,-0.095238,0.408022,0.329220,0.076709,...,-0.130321,-0.413461,0.450819,-0.114549,0.054829,-0.298912,0.096445,-0.283819,NaN,0.395990
4,2198,1690,1981-12-31,AAPL,0.097119,0.298983,0.263158,0.194536,0.199391,0.367278,...,-0.101255,0.450819,-0.237288,0.054829,-0.086414,0.395990,-0.298912,0.096445,-0.283819,-0.150875

In [373]:
file_path_4 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/context/cay_data.csv' # 
file_path_5 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/context/fama_french_5_factors_plus_momentum.csv' # 
file_path_6 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/context/financial_uncertainty_index.csv' # 
file_path_7 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/context/macro_uncertaintly_index.csv' # 
file_path_8 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/context/q-factors.csv' # 

df4 = pd.read_csv(file_path_4)
df5 = pd.read_csv(file_path_5)
df6 = pd.read_csv(file_path_6)
df7 = pd.read_csv(file_path_7)
df8 = pd.read_csv(file_path_8)


df4['date'] = pd.to_datetime(df4['date'])
df5['dateff'] = pd.to_datetime(df5['dateff'])
df6['date'] = pd.to_datetime(df6['date'])
df7['date'] = pd.to_datetime(df7['date'])
# Convert year and quarter to quarter-end datetime
df8['date'] = pd.to_datetime(df8['year'].astype(str) + 'Q' + df8['quarter'].astype(str)) + pd.offsets.QuarterEnd(0)
df8.drop(['year', 'quarter'], axis=1, inplace=True)
df8['date'] = pd.to_datetime(df8['date'])

df5.rename(columns={'dateff': 'date'}, inplace=True)

# Standardize to month end
for i in [df4, df5, df6, df7]:
    i['date'] = i['date'].dt.to_period('M').dt.to_timestamp('M')

df_context = df4.merge(df5, on='date', how='outer') \
               .merge(df6, on='date', how='outer') \
               .merge(df7, on='date', how='outer') \
               .merge(df8, on='date', how='outer') \
               .sort_values('date').reset_index(drop=True)

df_context = df_context.drop(columns=['c', 'a', 'y', 'cay'])

df_context.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810 entries, 0 to 809
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    810 non-null    datetime64[ns]
 1   mktrf   738 non-null    float64
 2   smb     738 non-null    float64
 3   hml     738 non-null    float64
 4   rmw     738 non-null    float64
 5   cma     738 non-null    float64
 6   rf      738 non-null    float64
 7   umd     738 non-null    float64
 8   h_1_x   714 non-null    float64
 9   h_3_x   714 non-null    float64
 10  h_12_x  714 non-null    float64
 11  h_1_y   714 non-null    float64
 12  h_3_y   714 non-null    float64
 13  h_12_y  714 non-null    float64
 14  r_f     212 non-null    float64
 15  r_mkt   212 non-null    float64
 16  r_me    212 non-null    float64
 17  r_ia    212 non-null    float64
 18  r_roe   212 non-null    float64
 19  r_eg    212 non-null    float64
dtypes: datetime64[ns](1), float64(19)
memory usage: 126.7 KB

In [374]:
#df_context.to_csv('context.csv', index=False)

In [375]:
# Replace inf and -inf with NaN
df_context.replace(['inf', '-inf', np.inf, -np.inf], np.nan, inplace=True)

df_context = df_context.dropna()
df_context.head()

,date,mktrf,smb,hml,rmw,cma,rf,umd,h_1_x,h_3_x,h_12_x,h_1_y,h_3_y,h_12_y,r_f,r_mkt,r_me,r_ia,r_roe,r_eg
116,1967-03-31,0.0399,0.0187,0.0037,0.0086,-0.0160,0.0039,0.0153,0.918090,0.952662,0.982072,0.616383,0.739871,0.865610,1.1406,13.3616,11.4466,-5.3001,8.4933,-1.1459
119,1967-06-30,0.0241,0.0643,0.0085,-0.0062,-0.0242,0.0027,0.0600,0.895576,0.934862,0.976690,0.614591,0.741683,0.869119,0.9172,1.8431,8.7787,-2.4629,2.0749,-2.4294
122,1967-09-30,0.0311,0.0244,-0.0250,0.0020,-0.0095,0.0032,0.0252,0.871980,0.918416,0.973204,0.627504,0.754038,0.878176,0.9601,6.8744,5.3219,3.9620,-0.7878,-0.7295
125,1967-12-31,0.0305,0.0575,-0.0053,-0.0081,0.0013,0.0033,0.0325,0.896381,0.937069,0.979059,0.655009,0.777824,0.890536,1.0668,0.2618,5.3799,-5.0151,5.1894,1.8397
128,1968-03-31,0.0020,-0.0159,-0.0059,0.0105,-0.0110,0.0038,0.0323,0.934794,0.966593,0.988554,0.627678,0.755234,0.877596,1.1806,-7.5774,1.5096,6.1718,-1.4313,5.5496

In [376]:
file_path_9 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/RATIOS_INDUSTRY_ALL.csv' # Fundamental data
df9 = pd.read_csv(file_path_9)
df9.rename(columns={'public_date': 'date'}, inplace=True)
df9['date'] = pd.to_datetime(df9['date'])

selected_columns = [
    'date', 'indret_ew', 'CAPEI_Median',
    'bm_Median', 'evm_Median', 'pe_op_basic_Median', 'pe_inc_Median', 'ptb_Median', 
    'PEG_trailing_Median', 'divyield_Median', 'roa_Median', 'roce_Median', 'roe_Median', 
    'gpm_Median', 'npm_Median', 'opmad_Median', 'de_ratio_Median', 'debt_ebitda_Median', 
    'debt_assets_Median', 'intcov_ratio_Median', 'cash_ratio_Median', 'curr_ratio_Median', 
    'quick_ratio_Median', 'at_turn_Median', 'inv_turn_Median', 'rect_turn_Median', 'FFI10_desc'
]

df9 = df9[selected_columns]

df9 = df9.dropna(axis=1)

df_context = df_context.merge(df9, on='date', how='inner')

df_context.tail(25)

,date,mktrf,smb,hml,rmw,cma,rf,umd,h_1_x,h_3_x,...,debt_ebitda_Median,debt_assets_Median,intcov_ratio_Median,cash_ratio_Median,curr_ratio_Median,quick_ratio_Median,at_turn_Median,inv_turn_Median,rect_turn_Median,FFI10_desc
1975,2019-06-30,0.0693,0.0037,-0.0070,0.0090,-0.0044,0.0018,-0.0225,1.003838,1.019318,...,2.220,0.537,5.329,0.276,1.842,1.143,1.036,4.347,8.945,NODUR
1976,2019-06-30,0.0693,0.0037,-0.0070,0.0090,-0.0044,0.0018,-0.0225,1.003838,1.019318,...,2.606,0.793,3.834,0.476,1.505,1.340,0.207,5.974,1.781,OTHER
1977,2019-06-30,0.0693,0.0037,-0.0070,0.0090,-0.0044,0.0018,-0.0225,1.003838,1.019318,...,2.405,0.624,4.296,0.172,1.574,0.792,1.728,5.601,26.354,SHOPS
1978,2019-06-30,0.0693,0.0037,-0.0070,0.0090,-0.0044,0.0018,-0.0225,1.003838,1.019318,...,3.422,0.676,2.036,0.422,1.438,1.249,0.461,15.667,6.451,TELCM
1979,2019-06-30,0.0693,0.0037,-0.0070,0.0090,-0.0044,0.0018,-0.0225,1.003838,1.019318,...,4.344,0.685,2.939,0.063,0.675,0.536,0.236,15.419,8.442,UTILS
1980,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,1.617,0.579,4.362,0.334,1.960,1.219,1.113,5.194,5.778,DURBL
1981,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,1.721,0.491,2.859,0.257,1.255,0.978,0.414,17.196,6.627,ENRGY
1982,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,0.617,0.498,2.331,0.869,1.909,1.633,0.680,4.439,5.574,HITEC
1983,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,-0.043,0.348,-10.168,3.729,4.469,4.207,0.352,2.899,5.816,HLTH
1984,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,2.121,0.574,5.218,0.316,2.104,1.247,0.873,4.059,6.254,MANUF
1985,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,2.256,0.536,5.009,0.259,1.791,1.090,0.985,4.227,8.794,NODUR
1986,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,2.557,0.794,3.797,0.479,1.497,1.327,0.201,6.451,1.781,OTHER
1987,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,2.894,0.647,4.137,0.168,1.500,0.733,1.619,5.487,27.559,SHOPS
1988,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,3.690,0.686,1.842,0.412,1.362,1.169,0.439,16.397,6.142,TELCM
1989,2019-09-30,0.0143,0.0026,0.0677,0.0184,0.0339,0.0018,-0.0683,0.896348,0.937583,...,4.479,0.682,2.934,0.069,0.674,0.558,0.229,14.912,8.231,UTILS
1990,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,1.883,0.595,4.596,0.327,1.921,1.215,1.108,5.177,6.003,DURBL
1991,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,1.743,0.487,1.897,0.262,1.282,1.026,0.419,16.481,6.825,ENRGY
1992,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,0.802,0.505,1.985,0.879,1.966,1.624,0.655,4.305,5.493,HITEC
1993,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,-0.055,0.363,-9.548,3.552,4.408,4.186,0.359,2.823,5.756,HLTH
1994,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,2.156,0.569,4.949,0.313,2.071,1.235,0.853,4.204,6.236,MANUF
1995,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,2.382,0.537,4.868,0.282,1.831,1.071,0.957,4.250,8.954,NODUR
1996,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753,OTHER
1997,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,3.270,0.672,3.995,0.171,1.465,0.692,1.478,5.575,28.254,SHOPS
1998,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,3.664,0.691,1.712,0.405,1.405,1.117,0.434,16.218,6.375,TELCM
1999,2019-12-31,0.0277,0.0097,0.0178,-0.0002,0.0123,0.0014,-0.0187,0.843950,0.897793,...,4.611,0.682,2.841,0.071,0.702,0.552,0.228,13.643,8.616,UTILS

In [377]:
df = df.sort_values(by=['datadate'])

# Corrected industry mapping
ticker_to_industry = {
    # Durable Goods (DURBL)
    'TSLA': 'DURBL', 'F': 'DURBL',

    # Energy (ENRGY)
    'XOM': 'ENRGY', 'CVX': 'ENRGY', 'COP': 'ENRGY', 'OXY': 'ENRGY',

    # High-Tech (HITEC)
    'AAPL': 'HITEC', 'MSFT': 'HITEC', 'GOOGL': 'HITEC', 'AMZN': 'HITEC', 'META': 'HITEC',
    'NVDA': 'HITEC', 'INTC': 'HITEC', 'CSCO': 'HITEC', 'QCOM': 'HITEC', 'ADBE': 'HITEC', 
    'PYPL': 'HITEC', 'NFLX': 'HITEC', 'MU': 'HITEC', 'WDC': 'HITEC', 'CTSH': 'HITEC', 'EXPE': 'HITEC',

    # Healthcare (HLTH)
    'JNJ': 'HLTH', 'PFE': 'HLTH', 'MRK': 'HLTH', 'ABT': 'HLTH', 'LLY': 'HLTH', 
    'BMY': 'HLTH', 'MDT': 'HLTH', 'HCA': 'HLTH', 'ZTS': 'HLTH', 'AMGN': 'HLTH', 'REGN': 'HLTH',

    # Manufacturing (MANUF)
    'BA': 'MANUF', 'RTX': 'MANUF', 'LMT': 'MANUF', 'GE': 'MANUF', 'CAT': 'MANUF', 
    'MMM': 'MANUF', 'ETN': 'MANUF', 'JCI': 'MANUF', 'NOC': 'MANUF', 'TMO': 'MANUF',

    # Non-Durable Goods (NODUR) - (Moved NKE here)
    'PG': 'NODUR', 'KO': 'NODUR', 'CL': 'NODUR', 'WBA': 'NODUR', 'CVS': 'NODUR', 
    'PPL': 'NODUR', 'TGT': 'NODUR', 'STZ': 'NODUR', 'NKE': 'NODUR',

    # Other (OTHER)
    'BRK.B': 'OTHER', 'JPM': 'OTHER', 'GS': 'OTHER', 'WFC': 'OTHER', 'SPGI': 'OTHER',
    'SCHW': 'OTHER', 'MMC': 'OTHER', 'AIG': 'OTHER', 'AON': 'OTHER', 'PGR': 'OTHER', 
    'CME': 'OTHER', 'RJF': 'OTHER', 'ADM': 'OTHER', 'APD': 'OTHER', 'EQIX': 'OTHER',

    # Shops (SHOPS)
    'WMT': 'SHOPS', 'MCD': 'SHOPS', 'SBUX': 'SHOPS', 'TGT': 'SHOPS', 'COST': 'SHOPS', 
    'DIS': 'SHOPS', 'TSN': 'SHOPS',

    # Telecom (TELCM)
    'T': 'TELCM', 'VZ': 'TELCM',

    # Utilities (UTILS)
    'EXC': 'UTILS', 'ECL': 'UTILS',
}

# Add industry column to DataFrame
df['FFI10_desc'] = df['tic'].map(ticker_to_industry)

# Assign 'OTHER' to any tickers not in the dictionary
df['FFI10_desc'] = df['FFI10_desc'].fillna('OTHER')

df_context.rename(columns={'date': 'datadate'}, inplace=True)

df = pd.merge(df, df_context, on=['datadate', 'FFI10_desc'], how='inner')

df = df.sort_values(by=['datadate', 'FFI10_desc'])

df.tail(30)

,index,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,...,de_ratio_Median,debt_ebitda_Median,debt_assets_Median,intcov_ratio_Median,cash_ratio_Median,curr_ratio_Median,quick_ratio_Median,at_turn_Median,inv_turn_Median,rect_turn_Median
11768,13956,2086,2019-12-31,BAX,0.040638,0.059570,-1.070423,0.237074,0.061867,0.065942,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11769,13958,6435,2019-12-31,KMB,-0.001382,0.025780,-0.180412,0.020201,0.010264,-0.012284,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11770,13960,13341,2019-12-31,PGR,0.000000,0.000000,0.281690,0.000000,0.033649,0.127060,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11771,13962,165993,2019-12-31,FIS,-0.067882,0.009692,-1.896552,-0.047610,-0.004521,0.184266,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11772,13963,10920,2019-12-31,UPS,0.205795,0.042355,-1.059701,0.200857,0.143917,0.122830,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11773,13965,1209,2019-12-31,APD,0.021956,0.042403,-0.057269,-0.001043,0.022146,-0.012482,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11774,13966,7163,2019-12-31,SPGI,0.265986,0.026291,-0.120000,-0.083012,0.100889,0.027235,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11775,13969,1722,2019-12-31,ADM,0.113098,0.001061,0.250000,0.142596,0.081292,-0.023736,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11776,13972,10903,2019-12-31,UNH,-0.020831,0.008351,0.002725,-0.013713,-0.019612,0.009113,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11777,13974,6066,2019-12-31,IBM,0.007843,0.020332,1.197861,0.075144,-0.002456,0.208021,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11778,13975,2176,2019-12-31,BRK.B,0.000000,0.000000,0.768889,0.000000,0.005794,0.273802,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11779,13980,179534,2019-12-31,V,0.064330,0.016627,0.089552,0.310399,0.042782,-0.013525,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11780,13981,2968,2019-12-31,JPM,0.000000,0.000000,-0.041045,0.000000,-0.029702,0.000000,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11781,13984,1487,2019-12-31,AIG,0.000000,0.000000,0.347222,0.000000,-0.000087,-0.150949,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11782,13986,1449,2019-12-31,AFL,0.000000,0.000000,0.019231,0.000000,-0.007137,-0.005621,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11783,13995,12124,2019-12-31,MS,0.000000,0.000000,0.023622,0.000000,-0.007719,0.016105,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11784,13997,13988,2019-12-31,SCHW,0.000000,0.000000,-0.114286,0.000000,0.056775,-0.066622,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11785,13998,8898,2019-12-31,RJF,0.000000,0.000000,0.016129,0.000000,0.033057,-0.011990,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11786,14001,149070,2019-12-31,CME,-0.094399,-0.002178,-0.264045,-0.080905,-0.067453,-0.108745,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11787,14004,114628,2019-12-31,GS,0.000000,0.000000,-0.020877,0.000000,-0.013851,0.081259,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11788,14006,8007,2019-12-31,WFC,0.000000,0.000000,-0.347826,0.000000,-0.005695,0.000000,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11789,14008,160225,2019-12-31,MA,0.138412,0.107778,0.000000,0.111070,0.110501,-0.011865,...,3.512,2.627,0.796,3.646,0.451,1.429,1.307,0.201,6.695,1.753
11802,13949,3980,2019-12-31,DIS,-0.012374,0.044085,1.720930,0.110271,0.065992,0.092008,...,1.800,3.270,0.672,3.995,0.171,1.465,0.692,1.478,5.575,28.254
11803,13970,10793,2019-12-31,TSN,0.003348,0.026612,0.366337,0.004172,0.019819,-0.006340,...,1.800,3.270,0.672,3.995,0.171,1.465,0.692,1.478,5.575,28.254
11804,13971,7154,2019-12-31,MCD,-0.013038,0.041535,-0.014218,-0.153101,0.024206,-0.013467,...,1.800,3.270,0.672,3.995,0.171,1.465,0.692,1.478,5.575,28.254
11805,14002,25434,2019-12-31,SBUX,0.043474,0.609324,0.104478,0.406374,0.355190,0.051890,...,1.800,3.270,0.672,3.995,0.171,1.465,0.692,1.478,5.575,28.254
11811,13982,2136,2019-12-31,VZ,0.073879,0.017097,-0.016000,0.144329,0.019277,0.057184,...,1.944,3.664,0.691,1.712,0.405,1.405,1.117,0.434,16.218,6.375
11812,13991,9899,2019-12-31,T,0.080205,-0.002395,-0.340000,0.011523,-0.013355,0.050081,...,1.944,3.664,0.691,1.712,0.405,1.405,1.117,0.434,16.218,6.375
11751,13938,4213,2019-12-31,ECL,-0.008562,0.004710,-0.093960,-0.073708,-0.006537,0.006266,...,2.150,4.611,0.682,2.841,0.071,0.702,0.552,0.228,13.643,8.616
11752,13994,8539,2019-12-31,EXC,-0.013846,0.000000,0.000000,0.084066,0.022832,-0.065845,...,2.150,4.611,0.682,2.841,0.071,0.702,0.552,0.228,13.643,8.616

In [378]:
#df.to_csv('dati_with_context.csv', index=False)  # Set index=False to exclude the index column